/*!

** Thanks for checking out the source - I really did write all this in vanilla css (used a few nested styles, and some color/breakpoint variables/mixins with Sass).
I hate life when I have to deal with databases.

It's minified, preprocessed and compressed via sass/grunt to see the hand written stuff, hit up the root dir/sass/ or just hit up github
It's also not the prettiest thing, after all I'm the only one who has to deal with it.

http://www.youtube.com/watch?v=OZBWfyYtYQY

*/
body:after, .main-content:after, .project-container:after {
  content: "";
  display: table;
  clear: both; }

.image-wrap {
  display: block;
  margin: 0 auto;
  width: auto;
  margin-bottom: 0.5em;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
  line-height: 0; }

.image-wrap {
  max-width: 100px;
  display: inline-block;
  border: 2px solid white;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4); }
  .image-wrap img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; }

.hans-clicked #hans-toggle:after {
  content: "x";
  display: inline-block;
  float: right;
  padding: 0.1em 0.4em;
  margin-right: 0.4em;
  color: white;
  font-size: 13px;
  background-color: rgba(100, 100, 100, 0.2); }

@-webkit-keyframes bouncey-bounce {
  0% {
    left: 10px; }

  30% {
    left: 15px; }

  50% {
    left: 10px; }

  70% {
    left: -2px; }

  100% {
    left: 10px; } }

@keyframes bouncey-bounce {
  0% {
    left: 10px; }

  30% {
    left: 15px; }

  50% {
    left: 10px; }

  70% {
    left: -2px; }

  100% {
    left: 10px; } }

@font-face {
  font-family: 'hans-font';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/hans-font.eot?soqwyy");
  src: url("../fonts/hans-font.eot?#iefixsoqwyy") format("embedded-opentype"), url("../fonts/hans-font.woff?soqwyy") format("woff"), url("../fonts/hans-font.ttf?soqwyy") format("truetype"), url("../fonts/hans-font.svg?soqwyy#hans-font") format("svg"); }

[class^='icon-'], [class*=' icon-'] {
  font-family: 'hans-font';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-list:before {
  content: '\e600'; }

.icon-undo:before {
  content: '\e601'; }

.icon-console:before {
  content: '\e602'; }

.icon-github:before {
  content: '\e603'; }

.icon-apple:before {
  content: '\e604'; }

.icon-wordpress:before {
  content: '\e605'; }

.icon-dribbble:before {
  content: '\e606'; }

.icon-twitter:before {
  content: '\e607'; }

.icon-file-xml:before {
  content: '\e608'; }

.icon-code:before {
  content: '\e609'; }

.icon-css3:before {
  content: '\e60a'; }

.icon-pacman:before {
  content: '\e60b'; }

@-webkit-keyframes bounceInLeft {
  0% {
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
    opacity: 0; }

  60% {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
    opacity: 1; }

  80% {
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px); }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes bounceInLeft {
  0% {
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
    opacity: 0; }

  60% {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
    opacity: 1; }

  80% {
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px); }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

html {
  font-size: 18px; }

h1, h2 {
  margin: 0.4em 0;
  font-weight: 200; }

h1 {
  font-size: 1em; }

h2 {
  font-size: 0.75em;
  color: rgba(136, 136, 136, 0.5); }

@media (min-width: 800px) {
  .articles p {
    font-size: 0.75em; } }

.project-body, .post {
  max-width: 1256px;
  font-family: 'Merriweather', serif;
  font-size: 0.75em;
  line-height: 1.7;
  text-align: center;
  color: rgba(136, 136, 136, 0.5); }
  @media (min-width: 800px) {
    .project-body, .post {
      font-size: 1em; } }
  .project-body p, .post p {
    margin-bottom: 2em; }
  .project-body h1, .post h1 {
    color: white; }
  .project-body .title, .post .title {
    text-align: center; }
  .project-body header, .post header {
    margin: 57px 0; }
    .project-body header p, .post header p {
      width: 90%;
      max-width: 650px;
      margin: 0 auto;
      line-height: 1.4;
      text-align: left; }
      @media (min-width: 800px) {
        .project-body header p, .post header p {
          font-size: 0.65em; } }
  .project-body a, .post a {
    text-decoration: none;
    color: rgba(240, 134, 86, 0.7); }
    .project-body a:hover, .post a:hover {
      color: #F08656; }

.project-body h1 {
  font-size: 3em; }

.dark {
  color: #222;
  font-weight: bold; }

.post h1, .post h2 {
  font-family: 'Lekton', sans-serif; }
.post h1 {
  font-size: 1.5em;
  text-align: left; }
.post h3 {
  font-family: 'Merriweather', serif; }
.post .title {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 0;
  line-height: 1.25em;
  font-size: 3em;
  max-width: 820px; }
  @media (max-width: 750px) {
    .post .title {
      margin-top: 2.5em; } }
.post .subtitle {
  margin-bottom: 3em; }

/*
____________________________________________________________________

    BASE STYLINGS
        - foundational stylings
        - modular elements
____________________________________________________________________
*/
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

code {
  padding: 0.3em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  color: rgba(34, 34, 34, 0.67); }

html {
  position: relative;
  height: 100%;
  font-family: 'Lekton', sans-serif;
  color: #aaa;
  background-color: #222; }
  @media (max-width: 650px) {
    html {
      border-top: 6px solid black; } }

body {
  height: 100%;
  margin: 0; }

.main-content {
  position: relative; }

.image-wrap {
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background: #b9c8c6; }
  .index .image-wrap {
    opacity: 0; }
  .index.loaded .image-wrap {
    opacity: 1; }

.button, a.button {
  display: inline-block;
  padding: 0.5em 1em;
  -webkit-transition: background 200ms;
  transition: background 200ms;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
  border: 0.04em solid rgba(255, 255, 255, 0.55);
  border-radius: 0.4em;
  background: transparent; }
  .button:hover, a.button:hover {
    color: #282828;
    background: rgba(255, 255, 255, 0.55); }
  .button.back, a.button.back {
    text-indent: -9999px; }
    .button.back:after, a.button.back:after {
      content: '<';
      position: absolute;
      font-size: 1.23em;
      text-indent: 0; }

.strikethrough {
  text-decoration: line-through; }

/*
____________________________________________________________________

    MAIN PAGE STYLINGS
        - Navigation
        - Hans-Clicked states
        - Footer
____________________________________________________________________
*/
.global-header {
  z-index: 3;
  max-width: 100px;
  max-height: 200px;
  margin: 0 auto;
  margin-top: 120px; }
  @media (max-width: 450px) {
    .global-header {
      margin-top: 10%; } }
  .global-header.left-align {
    float: left;
    margin: 1.75em 0 0 2em; }

.global-navigation {
  overflow: hidden;
  height: 155px;
  margin-top: 0;
  -webkit-transition: margin-top 200ms, height 200ms;
  transition: margin-top 200ms, height 200ms; }
  @media (max-width: 750px) {
    .hans-clicked .global-navigation {
      margin-top: 70px; }
    .hans-clicked.index .global-navigation {
      margin-top: 150px; } }
  @media (max-width: 650px) {
    .hans-clicked .global-navigation {
      margin-top: 100px; } }
  @media (max-width: 450px) {
    .hans-clicked .global-navigation {
      margin-top: 210px; }
    .hans-clicked.index .global-navigation {
      margin-top: 215px; } }
  @media (max-width: 370px) {
    .hans-clicked.index .global-navigation {
      display: block;
      margin-top: 315px;
      margin-bottom: 30px; } }
  .global-navigation.social-clicked {
    height: 161px; }
  .hans-clicked .global-navigation {
    height: 141px;
    margin-top: 70px; }

.menu {
  margin: 0;
  margin-top: -10px;
  padding: 0;
  -webkit-transition: opacity 20ms 0.6s, margin-top 200ms;
  transition: opacity 20ms 0.6s, margin-top 200ms;
  opacity: 0; }
  .social-clicked .menu.unfolded {
    margin-top: -93px; }
    @media (max-width: 450px) {
      .social-clicked .menu.unfolded {
        margin-top: -109px; } }
  .menu.unfolded {
    margin-top: 0;
    opacity: 1; }
    .menu.unfolded li {
      margin-top: 0; }

.menu li {
  display: block;
  margin-top: -31%;
  list-style: none;
  -webkit-transition: margin-top 200ms 0.6s;
  transition: margin-top 200ms 0.6s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .menu li:hover {
    -webkit-transition-delay: 0;
    transition-delay: 0;
    background-color: rgba(100, 100, 100, 0.1); }
  .menu li:nth-child(2) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; }
  .menu li:nth-child(4) {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    .menu li:nth-child(4) a:hover, .social-clicked .menu li:nth-child(4) a {
      padding-left: 0.5em; }
    .social-clicked .menu li:nth-child(4) a {
      color: #F08656; }
  .menu li a {
    display: block;
    padding: 0.3em;
    padding-right: 0.5em;
    padding-left: 0;
    -webkit-transition: all 100ms ease-in-out, color 100ms;
    transition: all 100ms ease-in-out, color 100ms;
    text-decoration: none;
    color: #aaa; }
    @media (max-width: 450px) {
      .menu li a {
        padding-top: 0.5em;
        padding-bottom: 0.5em; } }
    .white .menu li a {
      color: white; }
    .menu li a.current {
      padding-left: 0.5em;
      color: #F08656; }
    .menu li a:hover {
      padding-right: 0;
      padding-left: 0.5em; }

.social {
  display: inline-block;
  width: 100%;
  margin: 156px 0 0 0;
  padding: 0;
  -webkit-transition: margin 0 0.2s;
  transition: margin 0 0.2s;
  border-top: 1px solid #242321;
  border-bottom: 1px solid #4e4e4e;
  background: #333333;
  background: rgba(0, 0, 0, 0.2); }
  .social-clicked .social {
    margin: 0 0 0 0;
    -webkit-transition-delay: 0;
    transition-delay: 0; }
  .social li {
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 100%; }
  .social a {
    display: block;
    position: relative;
    max-width: 31px;
    padding: 0.4em;
    font-size: 15px;
    -webkit-transition: padding-left 0.2s;
    transition: padding-left 0.2s;
    text-decoration: none;
    color: white; }
    .social a:hover {
      padding-left: 100%; }

.social a:before {
  content: attr(data);
  display: block;
  position: absolute;
  left: -75px;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  color: white;
  color: #b9c8c6; }

.social a:hover:before {
  left: 5px; }

@media (max-width: 650px) {
  .overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
    opacity: 0;
    background-color: rgba(34, 34, 34, 0.93); }
    .menu-clicked .overlay {
      visibility: visible;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
      opacity: 1; }
  .menu-clicked .global-header.left-align {
    margin-top: 100px; } }

footer {
  bottom: 0;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 0.7em 0.2em;
  -webkit-transition: margin-bottom 0.5s 1s, opacity 400ms;
  transition: margin-bottom 0.5s 1s, opacity 400ms;
  text-align: center;
  opacity: 1; }
  @media (max-width: 370px) {
    .hans-clicked.index footer {
      opacity: 0; } }
  .index footer {
    position: absolute; }
  footer.loaded {
    margin-bottom: 0; }
  footer a {
    font-style: italic;
    text-decoration: none;
    color: rgba(136, 136, 136, 0.5); }
    footer a:hover {
      text-decoration: underline; }

.hans-content {
  z-index: -1;
  visibility: hidden;
  -webkit-transition: opacity 600ms, visibility 600ms 1s;
  transition: opacity 600ms, visibility 600ms 1s;
  opacity: 0; }
  .hans-content p {
    font-size: 0.75em;
    color: rgba(136, 136, 136, 0.5); }
    @media (max-width: 450px) {
      .hans-content p {
        font-size: 0.8em;
        line-height: 1.35em;
        color: rgba(136, 136, 136, 0.7); } }
  .hans-content .bio {
    width: 80%;
    min-width: 240px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 0;
    -webkit-transition: margin-top 400ms;
    transition: margin-top 400ms; }
    .left-align .hans-content .bio {
      position: absolute;
      top: 0;
      left: 26px;
      margin-top: 0;
      -webkit-transition: top 400ms;
      transition: top 400ms; }
    .hans-content .bio a {
      font-style: italic;
      color: rgba(136, 136, 136, 0.5); }
  .hans-content:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    opacity: 0.059;
    background-image: url("../img/me.jpg");
    background-position: center center;
    background-size: cover; }

.hans-clicked .menu {
  margin-top: 109px; }
.hans-clicked .container {
  margin-left: 100%; }
.hans-clicked .hans-content {
  visibility: visible;
  -webkit-transition: opacity 600ms;
  transition: opacity 600ms;
  opacity: 1; }
  .hans-clicked .hans-content .bio {
    margin-top: -108px;
    -webkit-transition: margin-top 400ms;
    transition: margin-top 400ms; }
.hans-clicked #hans-toggle {
  padding-right: 0;
  padding-left: 0.5em;
  color: #F08656;
  background-color: rgba(100, 100, 100, 0.1); }

/*
____________________________________________________________________

    THEMES
        - Navigation
        - Hans-Clicked states
        - Footer
____________________________________________________________________
*/
html.theme-light {
  border-color: #e4e4e4; }

.theme-light {
  background-color: white; }
  .theme-light .menu-toggle-container {
    border: 1px solid #e4e4e4; }
    .theme-light .menu-toggle-container .menu-toggle-wrap {
      color: #979797; }
    .theme-light .menu-toggle-container:before {
      background-color: #e4e4e4; }
  .theme-light .title {
    color: #222; }
  .theme-light .posts h1 a {
    color: #222; }

/*
____________________________________________________________________

    WORK PAGE STYLINGS
____________________________________________________________________
*/
.hans-clicked .left-align .hans-content .bio {
  top: 8em;
  margin-top: 0;
  -webkit-transition: top 400ms;
  transition: top 400ms; }
  @media (max-width: 650px) {
    .hans-clicked .left-align .hans-content .bio {
      top: 206px; } }

.project-body {
  max-width: 1256px; }
  .project-body h1 {
    font-size: 3em; }

.project-container {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .project-container.project-active {
    min-height: 1400px; }
  .project-container li {
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
    width: 48%;
    min-height: 200px;
    margin-right: 2%;
    margin-bottom: 20px;
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    background-color: #282828; }
    @media (max-width: 650px) {
      .project-container li {
        width: 100%; } }
    .project-container li:nth-child(even) {
      margin-right: 0; }
    .project-container li.active {
      position: initial;
      cursor: auto; }
  .project-container h4 {
    margin: 0;
    font-size: 1.7em;
    font-weight: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.55); }
    @media (min-width: 800px) {
      .project-container h4 {
        font-size: 1em; } }
  .project-container .project-wrap {
    padding: 25px;
    padding-top: 16px; }
    @media (max-width: 450px) {
      .project-container .project-wrap {
        padding: 16px 10px 0 10px; } }
    @media (min-width: 450px) {
      .project-container .project-wrap {
        -webkit-transition: 0.3s all;
        transition: 0.3s all; } }
    @media (min-width: 800px) {
      .project-container .project-wrap {
        padding-left: 70px; } }
  .project-container .description {
    display: block;
    float: right;
    overflow: hidden;
    width: 90%;
    height: 0;
    max-height: 126px;
    margin: 1em 0;
    font-size: 10px;
    line-height: 1.4;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    text-align: right;
    color: #aaa;
    border-top: 1px solid rgba(100, 100, 100, 0.2);
    border-bottom: 1px solid rgba(100, 100, 100, 0.2); }
    @media (min-width: 800px) {
      .project-container .description {
        font-size: 0.5em; } }
    @media (min-width: 950px) {
      .project-container .description {
        margin: 0.7em 0;
        font-size: 0.6em; } }
  .project-container .button {
    position: absolute;
    bottom: -30px;
    left: 20px;
    width: 25px;
    height: 25px;
    padding: 0;
    padding-top: 3px;
    font-size: 20px;
    line-height: 1;
    -webkit-transition: bottom 200ms;
    transition: bottom 200ms;
    border-width: 2.5px;
    border-radius: 50%; }
    .project-container .button.back {
      display: none;
      position: relative;
      position: absolute;
      z-index: 4;
      top: 25px;
      bottom: auto;
      width: 2em;
      height: 2em;
      text-indent: -9999px;
      border-color: rgba(240, 134, 86, 0.3); }
      .project-container .button.back:hover {
        background-color: inherit; }
        .project-container .button.back:hover:after {
          -webkit-animation: bouncey-bounce 400ms linear;
          animation: bouncey-bounce 400ms linear; }
      .project-container .button.back:active {
        color: #282828;
        background: rgba(240, 134, 86, 0.3); }
      .project-container .button.back:after {
        top: 0.3em;
        left: 0.35em; }
  .project-container .active .button.back {
    display: block; }
  .project-container .active .button.more {
    display: none; }
  .project-container .active .description {
    max-width: 250px;
    height: auto;
    padding: 1.5em 0;
    font-size: 1em;
    -webkit-transition: 0.3s all;
    transition: 0.3s all; }
    @media (min-width: 800px) {
      .project-container .active .description {
        font-size: 0.6em; } }
    @media (max-width: 1100px) {
      .project-container .active .description {
        max-width: 200px; } }
  @media (min-width: 800px) {
    .project-container .active h4 {
      font-size: 1.5em; } }
  @media (max-width: 650px) {
    .project-container .active h4 {
      text-align: center; } }
  @media (max-width: 950px) {
    .project-container .active .description {
      width: 100%;
      max-width: 100%;
      padding: 0 1em;
      text-align: center; } }
  @media (max-width: 650px) {
    .project-container .active .description {
      width: 100%;
      max-width: 100%;
      padding: 0 1em;
      text-align: center; } }
  .project-container .active .project-wrap {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    padding-top: 30px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    background-color: #282828; }
    @media (max-width: 650px) {
      .project-container .active .project-wrap {
        width: 100%;
        padding-top: 3em; } }

@media (min-width: 450px) {
  .project-container li:hover .button {
    bottom: 20px; }
  .project-container li.active:hover .button {
    bottom: 0; }
  .project-container li:hover .description {
    height: auto;
    padding: 1.5em 0; } }

.project-container .active .description {
  height: auto;
  max-height: none;
  padding: 1.5em 0; }

.preview-image {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 600px;
  height: 200px;
  opacity: 0.3;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }
  @media (max-width: 450px) {
    .preview-image {
      opacity: 0.44; } }
  @media (min-width: 450px) {
    .preview-image {
      -webkit-transition: height 120ms ease-in-out, opacity 100ms, background-position 120ms;
      transition: height 120ms ease-in-out, opacity 100ms, background-position 120ms; }
      li:hover .preview-image {
        opacity: 0.07;
        -webkit-filter: blur(4px);
        filter: blur(4px); } }
  .active .preview-image {
    position: relative;
    -webkit-transition: none;
    transition: none;
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-position: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }
  li.active:hover .preview-image {
    opacity: inherit;
    -webkit-filter: none;
    filter: none; }
  .posters .preview-image {
    background-image: url("../img/Portfolio/Posters/10.jpg"); }
  .lucilles .preview-image {
    background-image: url("../img/Portfolio/Lucilles/lucilles-thumb.jpg"); }
  .ihi .preview-image {
    background-image: url("../img/Portfolio/IHI/ihi-thumb.jpg"); }
  .steelehouse .preview-image {
    background-image: url("../img/Portfolio/Steelehouse/steelehouse-thumb.jpg"); }
  .sevilla .preview-image {
    background-image: url("../img/Portfolio/Sevilla/sevilla-thumb.jpg"); }
  .sports .preview-image {
    background-image: url("../img/Portfolio/Sports/sports-thumb.jpg"); }
  .ihi .preview-image {
    background-image: url("../img/Portfolio/IHI/ihi-thumb.jpg"); }
  .kokovoko .preview-image {
    background-image: url("../img/Portfolio/Kokovoko/kokovoko-thumb2.jpg"); }
  .better-cheddar .preview-image {
    background-image: url("../img/Portfolio/BetterCheddar/bc-thumb2.jpg"); }

.preview-image-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 144px;
  -webkit-transition: height 120ms;
  transition: height 120ms; }
  @media (min-width: 450px) {
    li:hover .preview-image-wrap {
      height: 100%; } }
  .active .preview-image-wrap {
    position: relative;
    max-width: 66%;
    height: auto;
    -webkit-transition: none;
    transition: none; }
    @media (max-width: 950px) {
      .active .preview-image-wrap {
        max-width: 100%;
        margin-top: 2em; } }
  li.active:hover .preview-image-wrap {
    height: auto; }

@media (max-width: 650px) {
  .global-header.left-align {
    float: none;
    margin: 0 auto;
    margin-top: -100%;
    -webkit-transition: margin-top 300ms;
    transition: margin-top 300ms; } }

.content {
  display: none; }
  .active .content {
    display: block;
    width: 66%; }
    @media (max-width: 950px) {
      .active .content {
        width: 100%; } }
  .content img {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    box-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }

.close-toggle {
  display: inline-block;
  position: fixed;
  top: 0.33em;
  right: 0.5em;
  visibility: hidden;
  font-size: 3em;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: all 700ms ease-in-out, visibility 0s 0.7s;
  transition: all 700ms ease-in-out, visibility 0s 0.7s;
  -webkit-transform: rotate(195deg);
  -ms-transform: rotate(195deg);
  transform: rotate(195deg);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  text-decoration: none;
  color: white; }
  .menu-clicked .close-toggle {
    visibility: visible;
    -webkit-transition: all 700ms, visibility 0s 0s;
    transition: all 700ms, visibility 0s 0s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.hans-clicked .left-align .menu li:nth-child(2) a, .global-header .social-clicked .menu li:nth-child(2) a {
  color: #aaa; }

.menu-toggle-container {
  display: none;
  position: absolute;
  top: 0;
  right: 30px;
  overflow: hidden;
  width: 1.55em;
  height: 1.25em;
  padding: 4px 8px 21px 7px;
  font-size: 1.5em;
  cursor: pointer;
  color: #c6c6c6;
  border: 1px solid rgba(0, 0, 0, 0.49);
  border-radius: 0 0 5px 5px;
  outline: #c6c6c6 none 0;
  background: rgba(255, 255, 255, 0.05882) none repeat scroll 0 0/auto padding-box border-box; }
  @media (max-width: 650px) {
    .menu-toggle-container {
      display: inline-block; } }
  .menu-toggle-container:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3c3c3c; }
  .menu-toggle-container:hover .menu-toggle-wrap {
    color: white; }

.tags {
  display: none;
  float: right;
  clear: right;
  width: 100%;
  max-width: 250px;
  margin: 0;
  padding: 0;
  font-family: 'Lekton', sans-serif;
  font-size: 0.7em;
  text-transform: uppercase; }
  @media (max-width: 750px) {
    .tags {
      font-size: 1em; } }
  @media (max-width: 950px) {
    .tags {
      max-width: 100%; } }
  .active .tags {
    display: block; }
  .tags li {
    float: right;
    width: auto;
    min-height: 0;
    margin: 0 0 10px 10px;
    padding: 4px 9px;
    cursor: auto;
    border-radius: 2px 2px 0 0;
    background-color: rgba(136, 136, 136, 0.15); }

.menu-toggle-wrap {
  display: block;
  position: relative;
  width: 16.1875px;
  height: 23px;
  text-shadow: rgba(255, 255, 255, 0.07843) 0 1px 0;
  text-decoration: none solid rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  border: 0 none rgba(0, 0, 0, 0.8);
  outline: rgba(0, 0, 0, 0.8) none 0; }

/*
____________________________________________________________________

    ARTICLES PAGE STYLINGS
____________________________________________________________________
*/
.cover-image {
  width: 100%;
  min-height: 300px;
  background-image: url("../img-content/coffee-cups.jpg");
  background-attachment: fixed;
  background-size: cover; }

.article h4 {
  color: #222;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 0.5em; }

.article hr {
  border-color: rgba(212, 212, 212, 0.3);
  margin-top: 2em; }

.posts {
  width: 80%;
  margin-left: 20%;
  padding: 80px 20px;
  text-align: left; }

.timeline-wrap {
  position: relative;
  float: left;
  width: 20%;
  height: 100%; }

.timeline {
  display: block;
  position: absolute;
  width: 3px;
  height: 100%;
  margin-top: 5em;
  margin-left: 14%;
  background-color: rgba(212, 212, 212, 0.2); }
  @media (max-width: 650px) {
    .timeline {
      width: 2px; } }

.date {
  position: absolute;
  left: 14%;
  width: 50px;
  margin: 0;
  font-size: 10px;
  font-weight: 100;
  line-height: 50px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  text-align: center;
  text-indent: -15%;
  color: #d4d4d4; }
  @media (max-width: 650px) {
    .date {
      text-indent: 0;
      z-index: 2;
      padding-top: 44px;
      background-color: white; } }
  .date:after {
    content: '';
    z-index: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #F08656; }

.post {
  padding: 0 40px; }
  .post.new-month {
    clear: left; }

.articles .post {
  float: left;
  width: 50%;
  margin-bottom: 100px;
  text-align: left; }
  @media (max-width: 650px) {
    .articles .post {
      width: 100%; } }

.entry {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: left; }
  .entry section {
    padding: 10vh 0; }
  @media (max-width: 950px) {
    .entry {
      padding-right: 40px; } }
  @media (max-width: 750px) {
    .entry {
      padding-right: 0; } }

.read-more {
  display: inline-block;
  padding: 14px 20px;
  border: 1px solid; }

.article-controls {
  position: absolute;
  right: 0;
  text-align: center; }
  .article-controls.fixed {
    position: fixed;
    top: 0; }
  @media (max-width: 750px) {
    .article-controls {
      right: auto;
      left: 10px; } }
  .article-controls ul, .article-controls li {
    margin: 0;
    padding: 10px;
    list-style: none; }
  @media (max-width: 750px) {
    .article-controls li {
      display: inline-block;
      vertical-align: bottom; } }
  .article-controls a {
    display: inline-block;
    font-size: 0.75em;
    -webkit-transition: 100ms all ease-in-out;
    transition: 100ms all ease-in-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    text-decoration: none;
    color: #d4d4d4; }
    .article-controls a:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .article-controls .all a {
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-image: url("../img/menu-icon.svg");
    background-repeat: no-repeat;
    background-position: center center; }
  .article-controls .next a, .article-controls .prev a {
    position: relative;
    padding-top: 20px;
    text-align: center; }
    .article-controls .next a:before, .article-controls .prev a:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../img/arrow-icon.svg");
      background-repeat: no-repeat;
      background-position: top center; }
  .article-controls .prev a:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: bottom; }

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 2.5em;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  transition: all 200ms; }
  @media (max-width: 650px) {
    .container {
      padding-left: 10px; } }

.container-wrap {
  overflow: hidden; }
  @media (max-width: 650px) {
    .container-wrap {
      width: 100%; } }
