

// General overrides
.project p,.project h4 {
  @include breakpoint(tablet) {
    text-align: left;
  }
}

.container.proj {
  position: relative;
  z-index: 2;
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  transform: translateY(-50%);
}

// Project Layout
.proj-wrap {
  display: block;
  width: 100%;
  min-height: 90vh;
  padding-top: 50vh;
  text-align: center;
  text-align: left;
  text-decoration: none;
  color: white;
  .project & {
    text-align: center;
  }
}
.proj-title {
  margin-top: 0;
}
.proj-pre-title {
  color: white;
}


// Individual project thumbnail images & styles
.Work,.project {
  img {
    max-width: 100%;
  }
  // Journalbot
  .JournalBot {
    background-color: $jb;
    .img-wrap {
      position: absolute;
      z-index: -1;
      top: -100%;
      right: -5%;
      width: 75%;
      @include breakpoint(tablet) {
        display: block;
        position: relative;
        width: 100%;
        margin: 0 auto;
      }
      &:before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        margin-left: 34%;
        transform-origin: bottom center;
        animation: 5s shake-transform infinite;
        background-image: url('../img/projects/jb/robot-peek-right-antenna.png');
        background-image: url('../img/projects/jb/robot-peek-right-antenna.svg');
        background-size: 100%;

        @include breakpoint(tablet) {
          top: auto;
          width: 25px;
          height: 25px;
          margin-left: 33%;
        }
      }
    }
    img {
      width: 100%;
    }
  }

  // VIRB
  .Garmin {
    position: relative;
    background-color: $virb;
    @extend %curtain-img;
    &:after {
      background-image: url('../img/projects/virb/features-curtain.jpg');
    }
    img {
      position: absolute;
      top: -25%;
      right: 0;
      width: 25%;


      @include breakpoint(tablet) {
        display: block;
        position: relative;
        width: 50%;
        margin: 0 auto;
      }
    }
  }

  // MODCO
  .Modco {
    position: relative;
    background-color: $modco;
    h2, h1 {
      color:$modco-grey;
    }
    .btn {
      @extend .btn-grey;
    }
    &:after {
      content: '';
      display: block;
      width: 100%;
      background-image: url('../img/projects/modco/modco-bg.jpg');
    }
  }
  @keyframes shake-transform {
    0%,35%,100% {
      transform: rotate(0deg);
    }
    7% {
      transform: rotate(10deg);
    }
    14% {
      transform: rotate(-10deg);
    }
    21% {
      transform: rotate(10deg);
    }
    28% {
      transform: rotate(-10deg);
    }
  }
}

// Archive thumbnail
.proj-wrap.archive {
  position: relative;
  overflow: hidden;
  min-height: 0;
  padding: 0;
  padding: 150px 0;
  text-align: right;
  background-color: $darker-grey;

  @include breakpoint(tablet) {
    padding-top: 100px;
    padding-bottom: 70%;
    text-align: center;
  }
  h1,p {
    color: rgba(white, .4);
  }
  &:hover {
    .img-gallery {
      opacity: 1;
    }
    .arrow {
       color: white;
    }
  }
  .img-gallery {
    position: static;
    transition: 600ms all;
    opacity: .5;
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .print-samples,.web-samples {
    position: absolute;
    bottom: 0;
  }
  .print-samples {
    left: 0;
    width: 300px;
  }
  .web-samples {
    left: 0;
    width: 700px;

    @include breakpoint(big-screen) {
      max-width: 70%;
    }
    @include breakpoint(tablet) {
      max-width: 100%;
    }
  }
}
