// Breakpoints
@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 750px) { @content; }
  }
  @if $point == min-papa-bear {
    @media (min-width: 800px) { @content; }
  }
  @if $point == brother-bear {
    @media (max-width: 650px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == big-brother-bear {
    @media (min-width: 950px) { @content; }
  }
  @else if $point == not-mobile {
    @media (min-width: 450px)  { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 450px)  { @content; }
  }
  @else if $point == baby-baby-bear {
    @media (max-width: 370px)  { @content; }
  }
}

// Colors
$black: rgb(20,20,20);
$red: #c96763;
$green: #b5bb48;
$purple: #9d8abf;
$blue: #83a1c1;
$yellow: #eec765;
$grey: #b9c8c6;
$dark-light-grey: #282828;

// Main Orange
$orange: #F08656;
$darker-grey: #222;
$dark-grey:rgba(136, 136, 136, 0.5);
$dark-grey-hex: rgb(40,40,40);
$off-white:#aaa;
$half-white:rgba(255,255,255,.55);
$black: rgb(10,10,10);

//Reusables
%clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

// Styling objects
%circle-image {
    display:block;
    margin:0 auto;
    width:auto;
    margin-bottom:.5em;
    border-radius:50%;
    z-index:1;
    overflow:hidden;
    line-height:0;
}
%circle-image-outline {
    @extend %circle-image;
    max-width:100px;
    display:inline-block;
    border: 2px solid white;
    box-shadow:2px 3px 3px rgba(0,0,0,0.4);
    img {
      max-width:100%;
      height:auto;
      border-radius:50%;
    }
}
%close-x {
  &:after {
    content:"x";
    display:inline-block;
    float:right;
    padding:.1em .4em;
    margin-right:.4em;
    
    color:white;
    font-size:13px;
    background-color:rgba(100, 100, 100, 0.2);
  }
}

//Animations
@keyframes bouncey-bounce {
  0% {
    left: 10px;
  }
  30% {
    left: 15px;
  }
   50% {
    left: 10px;
  }
   70% {
    left: -2px;
  }
  100% {
    left: 10px;
  }
}
