$by-grey: #1F1F1F;
$by-blue: #0070ce;
$wt-red: #e54841;
$wt-dred: darken($wt-red, 3%);
.proj-wrap.wear-this {
 background-color:$wt-red;
// background-image: url("../img/projects/wearthis/backpack-2x.jpg");
 background-repeat: no-repeat;
 background-position: 100% 150%;
 background-size: 450px;
 position:relative;
 @include breakpoint(normal-screen){
  background-size: 350px;
  background-position: 110% 120%;
 }
 @include breakpoint(tablet-s){
  background-size: 300px;
  background-position: 170% 120%;
 }
// background-size:cover;
&:after {
  display:none;
    background-image: url("../img/projects/wearthis/bag-2x.jpg");
    background-size: 450px;
    background-position: 0 -18%;
    opacity:1;
 @include breakpoint(normal-screen){
    background-size: 350px;
    background-position: 0 -10%;
 }
 @include breakpoint(tablet-s){
    background-size: 300px;
    background-position: 0 -5%;
 }
}
img {
 width: 50%;
 top: 0;
 transform:translateY(-45%);
 @include breakpoint(tablet) {
  width: 75%;
  transform:translateY(-40px);
 }
}
}
.wearthis {
  .moodboards {
    max-width: 1350px;
    margin:0 auto;
    overflow:hidden;
    img:nth-child(2){
      top:0;
    }
  }
  .intro {
    background-color: inherit;
    padding-bottom: 0;
    position: relative;
    min-height: 80vh;
    @include breakpoint(screen){
      min-height: 70vh;
    }
    @include breakpoint(tablet){
      min-height: 80vh;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-image: url("../img/projects/wearthis/bgHoliday-full2.jpg");
      @include breakpoint(tablet ){
        background-image: url("../img/projects/wearthis/bgHoliday-full2-tablet.jpg");
      }
      @include breakpoint(tablet-s){
      }
      background-position: center top;
    }
  }
  .project-info {
    background-color:$wt-dred;
  }
  .intro-wrap {
    margin-top: 14vh;

    @include breakpoint(tablet) {
     // / margin-top: 0;
    }
  }

  .intro, .red {
    background-color: $wt-red;
    color: white;

    p {
      opacity: .8;
    }

    h1 {
      color: white;
    }
  }

  .intro h1 {
    color: white;
  }

  h1 {
    color: $by-grey;
  }

  .aqua {
    background-color: $by-blue;

    h1, h4, p {
      color: white;
    }

    p {
      opacity: .8;
    }
  }

  .intro .pre-title {
    border-color: $wt-dred;
  }

  .pre-title {
    border-color: $wt-red;
  }

  .credits a {
    color: white;
  }

  .numbers-container h3 {
    color: white;
  }

  .langauges h1 {
    white-space: nowrap;
  }

  .square-btn {
    width: 60px;
    height: 60px;
    cursor: pointer;
    outline: none;
    background-color: $by-blue;
    display: inline-block;
    padding: 12px 17px;
    transition: 100ms all;
    border-radius: 0;
    border: none;
    vertical-align: middle;
    margin-bottom: 10px;

    .icon {
      display: block;
      width: 8px;
      height: 12px;
      margin: 0 auto;
      background-image: url(../img/projects/shop/icon-big-form-submit.png);
      background-size: 100%;
      cursor: pointer;
    }

    &:hover {
      background-color: #00569b;
    }
  }

  a.filter-option:active, a.filter-option:focus {
    outline: none;
  }

  .filter-wrap {
    margin: 0 auto;

    @include breakpoint(tablet) {
      margin-top: 30px;
    }


    text-align: left;
    width: 50%;
  }

  .subcat-full-wrap {
    padding: 0 30px;

    img {
      width: 1300px;
    }
  }

  .filter-option, a.filter-option {
    display: inline-block;
    line-height: 2;
    position: relative;
    font-size: .9em;
    text-align: left;

    @extend %sans-serif;

    padding: 0.5em;
    padding-right: 1.5em;
    cursor: pointer;
    padding-left: 2.25em;
    white-space: nowrap;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 20px;
    vertical-align: middle;
    color: #7A7A7A;
    border-color: #DCDCDC;

    &:hover {
      color: #090909;
      border-color: #BCBCBC;
      outline: none;
    }

    &:after {
      color: $black;
      border-color: $black;
      display: block;
      position: absolute;
      top: 50%;
      left: 1em;
      content: "+";
      transform: translateY(-50%);
      transition: 200ms all;
    }

    &.active {
      background-color: #BCBCBC;
      color: white;
      border-color: #BCBCBC;

      &:after {
        transform: translateY(-50%) rotate(125deg);
        color: white;
      }
    }
  }

  .device-wraps {
    text-align: center;

    .iphone-frame-wrap {
      width: 400px;
      max-width: 100%;

      @include breakpoint(normal-screen) {
        position: relative;
      }
    }

    .iphone-frame {
      margin-top: 0;

      .iphone-screen-container {
        width: 67.75%;
        left: 15%;
        top: 11.5%;
      }

      @include breakpoint(normal-screen) {
        padding-top: 160%;
        width: 100%;

        .iphone-screen-container {
          max-height: inherit;
          top: 12.7%;
          left: 16%;
        }
      }
    }
  }
}

// Other stuff
// colors
$wt-yellow: rgb(228,202,69);
$wt-orange: rgb(255,140,36);
$wt-purple: rgb(146,108,151);
$wt-grey: rgb(221,222,224);
$wt-green: rgb(120,176,85);
$wt-tomato: rgb(203,66,63);
$wt-yellow-intro: rgb(225,140,36);
.mockups-outer.green  { background-color: $wt-green; }
.mockups-outer.orange { background-color: $wt-orange; }
.mockups-outer.purple { background-color: $wt-purple; }
.mockups-outer.grey   { background-color: $wt-grey; }
.mockups-outer.tomato { background-color: $wt-tomato; }
.mockups-outer.yellow { background-color: $wt-yellow; }
.mockups-outer.yellow-intro { background-color: $wt-yellow-intro; }

.mockups-outer {
     h1, h4, p, span {
      color:white;
    }
    p {
      opacity:.9
    }
    a {
      color:white;
    }
}

.mockups-outer {
  transition: 700ms all ease;
}
.mockups-wrap {
  max-width:100%;
  position:relative;
  overflow:hidden;

}

.mockups-container {
  padding:0 20px;
  white-space:nowrap;
  margin:0;
  transition: 500ms all ease-out;
  text-align:left;
  padding: 0 15%;
  @include breakpoint(normal-screen){
    padding: 0 10%; 
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
  }
  .mockup-container {
    display:inline-block;
    width:100%;
    position:relative;
  }
  img {
    vertical-align:top;
  }
}
.mockup-wrap {
  display:inline-block;
  width: 100%;
  padding: 0 3%;
  @include breakpoint(normal-screen){
    width: 90%; 
    padding: 0 1%;
  }
  .mockup-container {
 // background-color:black;
  }
  img {
    opacity:1;
    transition: 500ms ease-out;
  }
  &.active {
    img { opacity:2; }
  }
}

.mockups-wrap {
  .btn-next, .btn-prev, a.btn-next, a.btn-prev {
    background-image: none; 
    border-radius:none;
    height: 100%;
    width: 15%;
    @include breakpoint(normal-screen){
      width: 10%; 
      display:none;
    }
    border-radius:0;
    padding:0;
    right:0;
    border:none;
    position:absolute;
    z-index:2;
    opacity:0;
    transition: 300ms all;
    &:hover {
      opacity:1;
    }
    &:after {
      content: '';
      display:block;
      position:absolute;
      @extend %btn-prev;
      top:50%;
      transform:translateY(-50%);
      left: 30px;
      @include breakpoint(normal-screen){
        display:none;
      }
    }
  }
  .btn-prev, a.btn-prev {
    right: auto;
    left: 0;
    &:after {
      // left: auto;
      // right: 30px;
    }
  }
}
.wearthis .photography {
  position:relative;
  min-height: 105vh;
  @include breakpoint(screen-xs){
    min-height: 90vh;
  }
  overflow:hidden;
}
.photo-scatter-outer {
  display:block;
  position:relative;
  top: 50%;
  width:110%;
  transform: translateY(-40%);
  position:absolute;
  float:none;
  right:-10%;
  @include breakpoint(screen-xs){
    transform: translateY(-20%);
  }
 // position:absolute;
}
.photo-scatter-photo {
  width: 12%;
  display:block;
  float:left;
  &:nth-child(odd){
    padding-top: 40px;
  }
  &:nth-child(6n + 2){
    padding-top: 80px;
  }
  &:nth-child(n + 2){
    padding-top: 80px;
  }
  $padding: 42%, 40%, 37%, 33%, 20%, 25%, 7%,0px;
  @include breakpoint(screen-xs){
  width: 10%;
  $padding: 42%, 40%, 37%, 33%, 20%, 25%, 17%, 20%;
    &:nth-child(-n + 3) {
      display:none;
    }
    width: 19%;
  }
  &.opaque{
    transform:translateY(-200px);
  }
  &.inview {
    transform:translateY(0px);
  }
  @for $i from 1 through length($padding) {
    &:nth-child(#{length($padding)}n+#{$i}) {
      padding-top: nth($padding, $i);
      transition-delay: #{75 * $i}ms;
    }
  }
}
.wearthis {
  .react {
    position:relative;
    overflow:hidden;
    @include breakpoint(screen-xs){
      padding-bottom:0;
    }
  }
  .code-img {
    position:absolute;
    bottom:0;
    height: 85%;
    left:54%;
    @include breakpoint(screen-xs){
      position:relative;
      height:auto;
      left:auto;
    }
  }
  .code-wrap {
    position:inherit;
    @include breakpoint(screen-xs){
      line-height:0;
   }
  }
}
