---
layout: default
title: projects
description: Musings in front-end design & development
nav: left-align
navColor: white
color-theme: dark
navOrientation: top-nav
---
{% for page in site.pages %}
  {% if page.type == 'project' %}
    <section class="proj-wrap {{ page.client }}">
      <div class="proj container">
        <div class="projcontent-wrap">
          {% if page.photo %}
            <img src="{{ site.baseurl }}/img/projects/{{ page.photo }}" alt="{{ page.title }}">
          {% endif %}
          <h2 class="proj-pre-title">{{ page.client }}</h2>
          <h1 class="proj-title">{{ page.title }}</h1>
          <a href="{{ site.baseurl }}{{ page.url }}" class="btn">&#x2713; Check it out</a>
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}


