.carousel-full {
    overflow:hidden;
    min-height:100vh;
}
.slide {
    width:100%;
    position:absolute;
    right:0;
    top:0;
    transition:200ms right;
    &.active {
        right:100%;
    }
}
.carousel-slide-wrap {
    padding-top:80%;
    position:relative;
    overflow:hidden;
}
.carousel-slide-wrap.long {
    padding-top:120%;
}
.slide-nav {
    a.slide-toggle {
        opacity:.3;
        transition: 150ms opacity;
        &.active  {
            opacity:1;
        }
    }

}