.cinema-frame {
  position:relative;
    img {
        max-width: 100%;
        z-index:2;
        position:relative;
    }
}
.screen-slides {
  margin:0;
  padding:0;
  position:absolute;
  top:4.85%;
  left:17%;
  z-index: 1;
  height:100%;
  white-space:nowrap;

  @include breakpoint(tablet-s){
    top: 4%;
    left: 17.5%;
  }
  @include breakpoint(phone){
    top: 3.75%;
    left: 18%;
  }
  li {
    display:inline-block;
    width:43%;
    margin-top:20px;
    vertical-align:top;
    opacity:.1;
    overflow:hidden;
    &.active {
      width: 81%;
      opacity:1;
      margin-top:0;
      max-height:60%;
      @include breakpoint(normal-screen){
        max-height: 55%;
      }
      @include breakpoint(tablet-s){
        max-height: 52%;
      }
      @include breakpoint(phone){
        max-height: 50%;
      }
    }
    &:nth-child(3){
      position:absolute;
      left:0;
      transform: translateX(-100%);
    }
    img {
      max-width: 100%;
    }
  }

}
.screen-container {
  position:relative;

}

.cinema-carousel.active .screen-container.active{
  img {
    transition: 3s all ease-out;
    transform: translateY(-100%);
    margin-top:60%;
  }
}
.cinema-screen-container {
    width:68%;
    left:16.9%;
    // width:973px;
    // left: 240px;
    // max-height:602px;\
    max-height:70%;
    overflow:hidden;
    position:absolute;
    top: 5%;
    cursor: pointer;

    .cinema-screen {
      max-width: 100%;
      transition: 1500ms all cubic-bezier(0.71, 0.07, 0.59, 1.01);

      &.inview {
        margin-top:-600px;
      }
      // transform:translateZ(0.2px) scale(.85);
      // margin-top:-150px;
    }
}
.intro-work {
    .scroll {
        .cinema-screen {
            transform: translateY(-50%);
        }
    }
}

.cinema-controls {
  @extend .controls;
  z-index: 4;
  position:relative;
  .next a, .prev a {
    text-indent: -9999px;
    text-align:left;
    width: 40px;
    padding:0;
    height:20px;
  }
  .scroll a.active {
    &:before {
      transform:rotate(180deg);
    }
  }
  li {
    display:inline-block;
    vertical-align:middle;
  }
}