html {
    font-size: 18px;
}
h1,h2 { font-weight: 200; margin: 0.4em 0; }
h1    { font-size: 1em; }
h2    { color: $dark-grey; font-size: .75em;}
.articles {
    @include breakpoint(min-normal-screen){
        p {
            font-size:.75em;
        }
    }
}
.project-body, .post {
    font-family: 'Merriweather', serif;
    color:$dark-grey;
    font-size:.75em;
    text-align:center;
    max-width:1256px;
     @include breakpoint(min-normal-screen){
        font-size:1.25em;
    }
    h1 {
        color:white;
    }
    .title {
        text-align:center;
    }
    header {
        margin: 57px 0;
        p {
            max-width:650px;
            margin:0 auto;
            line-height:1.4;
            text-align:left;
            width:90%;
            @include breakpoint(min-normal-screen){ font-size:.65em; }
        }
    }

    a {
        text-decoration:none;
        color:rgba($orange,.4);
        &:hover { color:$orange; };
    }
}
.project-body {
    h1 {
        font-size:3em;
    }
}
.post {
    h1, h2 {
        font-family:'Lekton', sans-serif;
    }
    h1 {
        font-size:1.5em;
        text-align:left;
    }
    h3 {
        font-family: 'Merriweather', serif;
    }
   .title {
       margin-top:1em;
       font-size:3em;
       margin-bottom:0;
       @include breakpoint(normal-screen){
        margin-top:2.5em;
       }
   }
   .subtitle {
        margin-bottom:2em;
   }
}