html {
  font-size: 18px;
}

h1, h2 {
  margin: 0.4em 0;
  font-weight: 200;
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: 0.75em;
  color: $dark-grey;
}

.articles {
  @include breakpoint(min-normal-screen) {
    p {
      font-size: 0.75em;
    }
  }
}

.project-body, .post {
  max-width: 1256px;
  font-family: 'Merriweather', serif;
  font-size: 0.75em;
  line-height: 1.7;
  text-align: center;
  color: $dark-grey;
  @include breakpoint(min-normal-screen) {
    font-size: 1em;
  }

  p {
    margin-bottom: 2em;
  }
  h1 {
    color: white;
  }
  .title {
    text-align: center;
  }
  header {
    margin: 57px 0;
    p {
      width: 90%;
      max-width: 650px;
      margin: 0 auto;
      line-height: 1.4;
      text-align: left;
      @include breakpoint(min-normal-screen) {
        font-size: 0.65em;
      }
    }
  }
  a {
    text-decoration: none;
    color: rgba($orange, 0.7);
    &:hover {
      color: $orange;
    }
  }
}

.project-body, .projects {
  h1 {
    font-size: 3em;
    font-family: 'Merriweather', serif;
  }
}

.dark {
  color: $darker-grey;
  font-weight: bold;
}

.post {
  h1, h2 {
    font-family: 'Lekton', sans-serif;
  }
  h1 {
    font-size: 1.5em;
    text-align: left;
  }
  h3 {
    font-family: 'Merriweather', serif;
  }
  .title {
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 0;
    line-height: 1.25em;
    font-size: 3em;
    max-width: 820px;
    @include breakpoint(normal-screen) {
      margin-top: 2.5em;
    }
  }
  .subtitle {
    margin-bottom: 3em;
  }
}