/*!

** Thanks for checking out the source

It's minified, preprocessed and compressed via sass/grunt to see the hand written stuff, hit up github
I'm the only one who has to deal with this, so it isn't as nice or maintainable as I would normally write things.

http://www.youtube.com/watch?v=OZBWfyYtYQY

*/


@import "vendor/global";
@import "config/global";
@import "components/global";

/*
____________________________________________________________________

    BASE STYLINGS
        - foundational stylings
        - modular elements
____________________________________________________________________
*/
* {
  box-sizing: border-box;
}
pre.highlight {
  background-color: darken(white, 4%);
  padding: .75em;
}
code {
  padding: .3em;
  margin: 0;
  font-size: 85%;
  background-color:  darken(white, 4%);
  border-radius: 3px;
  color: rgba($darker-grey, 0.67);
}


html {
  position: relative;
  height: 100%;
  //
  font-family: 'Lekton', sans-serif;
  color: $off-white;
  background-color: $darker-grey;
  // Insert top line for the nav-toggle at breakpoint
  @include breakpoint(tablet) {
    border-top: 6px solid black;
  }
}

body {
  height: 100%;
  margin: 0;
  @extend %clearfix;
}

.main-content {
  position: relative;
  @extend %clearfix;
}

// Modular Elements


.strikethrough {
  text-decoration: line-through;
}

/*
____________________________________________________________________

    MAIN PAGE STYLINGS
        - Navigation
        - about states
        - Footer
____________________________________________________________________
*/

// Footer
footer {
  bottom: 0;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 0.7em 0.2em;
  transition: margin-bottom 0.5s 1s, opacity 400ms;
  //
  z-index: 10;
  text-align: center;
  opacity: 1;
  @include breakpoint(baby-phone) {
    .about & {
      opacity: 0;
    }
  }

  .index & {
    position: absolute;
  }
  &.loaded {
    margin-bottom: 0;
  }
  a {
    font-style: italic;
    text-decoration: none;
    color: $dark-grey;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Biography container & contents
.hans-content {
  z-index: -1;
  visibility: hidden;
  transition: opacity 600ms, visibility 600ms 1s;
  // Transition in on Click
  opacity: 0;
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
    line-height: 1.4em;
    color: $dark-grey;
    @include breakpoint(phone) {
      font-size: 0.8em;
      line-height: 1.35em;
      color: rgba(136, 136, 136, 0.7);
    }
  }
  .bio {
    width: 80%;
    min-width: 240px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 0;
    transition: margin-top 400ms;
    .left-align & {
      position: absolute;
      top: 0;
      left: 26px;
      margin-top: 0;
      transition: top 400ms;
    }
    a {
      color: lighten($dark-grey, 35%);
    }
  }
  // // Background image
  // &:after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 90%;
  //   //
  //   opacity: 0.059;
  //   background-image: url("../img/me.jpg");
  //   background-position: center center;
  //   background-size: cover;
  // }
}

// Hans clicked actions
.about {
  //Slide the menu down to make room for the description
  // .menu {
  //   margin-top: 109px;
  //   @include breakpoint(mama-bear) {
  //     .index & {
  //       margin-top: 150px;
  //     }
  //   }
  // }
  //Slide the bio into the frame, and make background image visible
  footer {
    position:absolute;
  }
  .hans-content {
    visibility: visible;
    transition: opacity 600ms;
    padding-top:90vh;
    opacity: 1;
    transform:translateY(-50%);
    .bio {
      margin-top:20px;
      transition: margin-top 400ms;
    }
  }
  //Keep menu item orange (active), add close-x in top right
  .current a {
    padding-right: 0;
    padding-left: 0.5em;
    color: $orange;
    background-color: rgba(100, 100, 100, 0.1);
    @extend %close-x;
  }
}

/*
____________________________________________________________________

    THEMES
        - Navigation
        - about states
        - Footer
____________________________________________________________________
*/
html.theme-light {
  border-color: lighten($light-grey, 30%);
}

.theme-light {
  background-color: white;
  .menu-toggle-container {
    border: 1px solid lighten($light-grey, 30%);
    .menu-toggle-wrap {
      color: $light-grey;
    }
    &:before {
      background-color: lighten($light-grey, 30%);
    }
  }
  .title {
    color: $darker-grey;
  }
  .posts h1 a {
    color: $darker-grey;
  }
}

.container {
  padding-right: 10px;
  padding-left: 2.5em;
  transition: all 400ms;
  transition: all 200ms;
  @include breakpoint(tablet) {
    padding-left: 10px;
  }
}

.container-wrap {
  overflow: hidden;
  @include breakpoint(tablet) {
    width: 100%;
  }
}
@import "pages/global";