$blue-tag: #EB3E3E;
$green-tag: #FECD2D;

$blue-tag: darken($orange, 15%);
$green-tag: lighten($orange, 15%);

.productivity {
  &.post hr {
    margin-top:0;
    margin-bottom:0;
  }
  .first-paragraph {
    width: 70%;
    display: inline-block;
    vertical-align: top;
  }
  .image-wrap {
    max-width: 22%;
    margin-left: 3%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    position:relative;
    img {
      width:100%;
    }
  }
}
.Email {
  .cover-image {
    background-image: url('../img-content/email/emails-2.svg');
    background-size:100%;
    height:0;
    padding-top:50%;
    background-repeat:no-repeat;
    @include breakpoint(tablet-s){
      background-image: url('../img-content/email/emails.svg');
      padding-top:85%;
    }
  }
}

.sketch {
  img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }
}

%bullets {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: .9em;
  text-indent: -1000px;
  margin-right: 10px;
  border-radius: 50%;
}

.positive-bullet {
  @extend %bullets;
  background-color: $green;
}

.negative-bullet {
  @extend %bullets;
  background-color: $red;
}

.neutral-bullet {
  @extend %bullets;
  background-color: $grey;
}
.tag {
  display:inline-block;
  padding:5px 10px;
  line-height:1;
  color:white;
  @extend %sans-serif;
  text-transform:uppercase;
  font-size:.75em;
  background-color:$off-white;
  &.design {
    background-color:$blue-tag;
  }
  &.dev {
    background-color:$green-tag;
  }
}

.History h4 {
  font-size:1em;
  left:0;
  margin-top:5vh;
  color:white;
  text-indent:0;
  z-index:2;
  transform:translateX(0%) translateY(-70%);
  padding-top:0;
  &:after {
    z-index:-1;
    background-color:$black;
  }
}
.history-content {
  position:relative;
  padding-left:20%;
  margin-top:10vh;
  @include breakpoint(phone){
    padding-left: 75px;
  }
  blockquote {
    border-left: 5px solid $dark-grey;
  }
  blockquote, blockquote p {
    padding:0;
    margin-top:calc(-10vh + 2em);
    padding-left: 10px;
    margin-bottom:-5vh;
  }
  > p {
    margin-bottom:15vh;
    margin-top:10vh;
  }
}