.productivity {
  .first-paragraph {
    width: 70%;
    display: inline-block;
    vertical-align: top;
  }
  img {
    max-width: 22%;
    margin-left: 3%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
  }
}

.sketch {
  img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }
}

%bullets {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: .9em;
  text-indent: -1000px;
  margin-right: 10px;
  border-radius: 50%;
}

.positive-bullet {
  @extend %bullets;
  background-color: $green;
}

.negative-bullet {
  @extend %bullets;
  background-color: $red;
}

.neutral-bullet {
  @extend %bullets;
  background-color: $grey;
}

.post {
  padding-top:60px;
  h4 {
    font-size:3em;
    margin-bottom:0;
    letter-spacing:0;
    text-transform:none;
  }
}
.History h4 {
  font-size:1em;
  left:0;
  margin-top:5vh;
  color:white;
  text-indent:0;
  z-index:2;
  transform:translateX(0%) translateY(-70%);
  padding-top:0;
  &:after {
    z-index:-1;
    background-color:$black;
  }
}
.history-content {
  position:relative;
  padding-left:20%;
  margin-top:10vh;
  @include breakpoint(phone){
    padding-left: 75px;
  }
  blockquote {
    border-left: 5px solid $dark-grey;
  }
  blockquote, blockquote p {
    padding:0;
    margin-top:calc(-10vh + 2em);
    padding-left: 10px;
    margin-bottom:-5vh;
  }
  > p {
    margin-bottom:15vh;
    margin-top:10vh;
  }
}