.productivity {
  .first-paragraph {
    width: 70%;
    display: inline-block;
    vertical-align: top;
  }
  img {
    max-width: 22%;
    margin-left: 3%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
  }
}

.sketch {
  img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }
}

%bullets {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: .9em;
  text-indent: -1000px;
  margin-right: 10px;
  border-radius: 50%;
}

.positive-bullet {
  @extend %bullets;
  background-color: $green;
}

.negative-bullet {
  @extend %bullets;
  background-color: $red;
}

.neutral-bullet {
  @extend %bullets;
  background-color: $grey;
}

.post {
  h4 {
    font-size:3em;
    margin-bottom:0;
    letter-spacing:0;
    text-transform:none;
  }
}