/*
____________________________________________________________________

    process PAGE STYLINGS
____________________________________________________________________
*/

.process {
  .cover-image {
    background-image: url("../img/process/header-2.jpg");
    opacity: .2;
  }

  .super-title {
    text-shadow: none;
  }
  @include breakpoint(tablet){
    .timeline {
      margin-top: 7.4em;
    }
  }
  .btn-grey {
    &:hover {
      color: $modco-grey-d;
    }
  }

  .container {
    width: 80%;
    max-width: 95%;
    margin: 0 auto;
    text-align: left;
    @include breakpoint(tablet){
      width: 90%;
    }
  }

  .post {
    width: 95%;
    margin-bottom: 150px;
    @include breakpoint(tablet){
      margin-bottom: 75px;
    }

    img {
      max-width: 100%;
      margin-bottom: 40px;
    }

    .sitemap {
      margin-bottom: 0px;
    }

    .dl-link {
      margin-bottom: 40px;
    }
  }
}