// General overrides

.project p, .project h4 {
  @include breakpoint(tablet){
    text-align:left;
  }
}
.container.proj {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    transform: translateY(-50%);
    position:relative;
    z-index:2;
}

// Specific styles
.proj-wrap {
    display: block;
    width: 100%;
    min-height: 85vh;
    padding-top: 47vh;
    text-align: center;
    text-align: left;
    text-decoration: none;
    color: white;
    background-color: rgba(32,119,216,0.95);
    .project & {
        text-align:center;
    }
}
.proj-title {
    margin-top: 0;
}
.proj-pre-title {
    color: white;
}

// Individual project thumbnail images & styles
.projects, .project {
    img {
        max-width:100%;
    }
    .Garmin {
        position: relative;
        @extend %curtain-img;
        &:after {
            background-image: url('../img/projects/virb/features-curtain.jpg');
        }

        img {
            @include breakpoint(tablet) {
                display: block;
                position: relative;
                width: 50%;
                margin: 0 auto;
            }
            position: absolute;
            top: -25%;
            right: 0;
            width: 25%;
        }
    }
    .JournalBot {
        background-color:#EA592C;
    }
    .Modco {
        position:relative;
        background-color: $grey;
        &:after {
            display:block;
            width:100%;
            content:'';
            background-image: url('../img/projects/modco/modco-bg.jpg');
        }
    }
    .ihi {
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#670c1e), color-stop(100%,#96112e)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(45deg, #670c1e 0%,#96112e 100%); /* Chrome10+,Safari5.1+ */
        background:      -o-linear-gradient(45deg, #670c1e 0%,#96112e 100%); /* Opera 11.10+ */
        background:     -ms-linear-gradient(45deg, #670c1e 0%,#96112e 100%); /* IE10+ */
        background:         linear-gradient(45deg, #670c1e 0%,#96112e 100%); /* W3C */
    }
}