.modco-btn, a.modco-btn {
  display: inline-block;
  padding: 13px 17px;
  font-size: 0.75em;
  font-weight: 600;
  @extend %sans-serif;
  transition: 100ms all;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $modco-blue;
  border: 2px solid $modco-blue;
  &:hover {
    border-color: $modco-dark-blue;
    color:white;
  }
}
.modco-btn-primary, a.modco-btn-primary {
  @extend .modco-btn;
  color: white;
  background-color: $modco-blue;
}
.modco-btn-white, a.modco-btn-white {
  @extend .modco-btn;
  background-color: white;
  &:hover {
    color:$modco-blue;
  }
}
.modco-btn-dark, a.modco-btn-dark {
  @extend .modco-btn;
  border-color: $modco-slate;
  background-color: $modco-slate;
  color:white;
  &:hover {
    border-color: $modco-dark-slate;
  }
}
// .btn-video, a.btn-video {
//   @extend .btn-primary;
//   @extend %icon-after;
//   position: relative;
//   padding-right: 40px;
//   &:after {
//     background-image: url('../img/ui/icon-play-circle.png');
//     background-image: url('../img/ui/icon-play-circle.svg');
//   }
// }
// .btn-download, a.btn-download {
//   @extend .btn-primary;
//   @extend %icon-after;
//   position: relative;
//   padding-right: 40px;
//   &:after {
//     background-image: url('../img/ui/icon-download.png');
//     background-image: url('../img/ui/icon-download.svg');
//   }
// }
// .btn-scroll, a.btn-scroll {
//   @extend .btn-primary;
//   @extend %icon-after;
//   position: relative;
//   padding-right: 40px;
//   &:after {
//     background-position:center;
//     background-image: url('../img/ui/icon-arrow-down.png');
//     background-image: url('../img/ui/icon-arrow-down.svg');
//   }
// }

// .btn-arrow-right, a.btn-arrow-right {
//   @extend .btn-white;
//   @extend %icon-after;
//   position: relative;
//   padding-right: 40px;
//   &:after {
//     top: 55%;
//     height: 15px;
//     background-image: url('../img/ui/icon-skinnyarrow.png');
//     background-image: url('../img/ui/icon-skinnyarrow.svg');
//   }
// }
// .btn-arrow-right-dark, a.btn-arrow-right-dark {
//   @extend .btn-arrow-right;
//   background-color:$blue;
//   color:white;
//   &:after {
//     background-image: url('../img/ui/icon-skinnyarrow-white.png');
//     background-image: url('../img/ui/icon-skinnyarrow-white.svg');
//   }
// }
// .menu-toggle {
//   @include breakpoint(normal-screen) {
//     display: inline-block;
//   }
//   display: none;
//   width: 40px;
//   height: 100%;
//   margin-left: 10px;
//   text-indent: -9999px;
//   background-image: url('../img/ui/icon-menu-dark.png');
//   background-image: url('../img/ui/icon-menu-dark.svg');
//   background-repeat: no-repeat;
//   background-position: center center;
// }
// .btn-arrow {
//   @extend %icon-after;
//   width:50px;
//   height:50px;
//   @include breakpoint(tablet){
//     width:30px;
//     height:30px;
//   }
//   display:block;
//   background-color:rgba($blue, .6);
//   text-align:center;
//   &:after {
//     width: 15px;
//     height:20px;
//     display:inline-block;
//     right:auto;
//     left:50%;
//     transform:translate(-50%, -50%);
//     background-size:100%;
//     background-position:center center;
//     background-image: url('../img/ui/arrow-thick-right.png');
//     background-image: url('../img/ui/arrow-thick-right.svg');
//   }
// }

