// VIRB colors
$yellow: #f3df32;
$red: #ef2028;
$purple: #6847c6;

//theme colors
$green: #5ed22e;
$orange: #ef521d;
$aqua: #3de5d2;


.virb {
  h1 {
    color: rgba($virb, .95);
  }
  section.blue {
    background-color: transparent;
    h1,h4, p, span {
      color: white;
    }
    p,span {
      opacity: .8;
    }
  }
  section.blue2 {
    background-color: #1468c5;
  }
  section.grey {
    z-index: 0;
    background-color: lighten($lighter-grey, 13%);
  }
  .blue {
    color: $virb;
    a {
      opacity: 1;
      color: white;
      &:hover {
        opacity: 1;
        color: white;
      }
    }
  }
  .yellow-text {
    color: $yellow;
  }
  &.project {
    width: 100%;
    // @extend .plax-container;
  }

  .intro {
    position: relative;
    min-height: 90vh;
    padding-bottom: 0;
    background: linear-gradient(to bottom, rgba(32, 119, 216, .95) 0%, rgba(32, 119, 208, .95) 81%, rgba(32, 119, 206, 1) 100%); /* W3C */
    background-color: $virb;

    @include breakpoint(tablet) {
      height: auto;
      min-height: inherit;
    }
    h1 {
      color: white;
    }
    #videobg {
      position: absolute;
      z-index: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: .2;
      @media (min-aspect-ratio: 16/9) {
          width: 100%;
          height: auto;
      }

      @media (max-aspect-ratio: 16/9) {
          width: auto;
          height: 100%;
      }

      @include breakpoint(tablet) {
        display: none;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .description {
      margin-bottom: 20px;
    }
    .project-info {
      background-color: darken($virb, 5%);
    }
    img {
      position: relative;
      width: 300px;
      margin: 0 auto;
      margin-bottom: 20px;
      transform: translateZ(0);

      @include breakpoint(tablet) {
        width: 200px;
        margin-bottom: 50px;
      }
    }
  }


  // Sections
  .moodboard-wrap {
    position: relative;
    z-index: 0;
    max-width: 1500px;
    min-height: 70%;
    margin: 0 auto;
    margin-top: 75px;
    .active & {
      overflow: visible;
    }
  }
  .moodboards {
    position: relative;
    z-index: 0;
    min-height: 90vh;
    padding-bottom:0;
    overflow:hidden;

    @include breakpoint(tablet) {
      height: 400px;
    }
    img {
      width: 100%;

      @extend .plax-child;
      @include breakpoint(phone) {
        width: 150%;
        max-width: 150%;
      }
      &:nth-child(1) {
        transform: translateZ(-.1px) scale(1.1);
      }
      &:nth-child(2) {
        top: 120px;
        transform: translateZ(-.16px) scale(1.1);

        @include breakpoint(big-screen) {
          top: 0;
        }
      }
      &:nth-child(3) {
        transform: translateZ(-.08px) scale(1);
      }
    }
  }
  .plane-override {
    position: relative;
    transform: translateZ(0);
  }
  .styleboard-wrap {
    position: relative;
    max-width: 1500px;
    height: 1000px;
    margin: 0 auto;

    @include breakpoint(min-huge-screen) {
      height: 700px;
    }
  }
  .styleboard-container {
    position: relative;
    height: 100%;
    margin-top: 75px;
  }
  // Paralaxin styleboards
  .styleboards {
    img {
      top: 50px;
      width: 700px;
      max-width: 100%;
      box-shadow: 7px 6px 7px rgba(0, 0, 0, .12);

      @extend .plax-child;
      @include breakpoint(min-huge-screen) {
        width: 500px;
      }
      @include breakpoint(big-screen) {
        width: 400px;
      }
      &:nth-child(1) {
        transform: translateZ(-.125px) translateX(50%) translateY(100%) scale(1.1);
        left: 2%;
        @include breakpoint(normal-screen) {
          transform: translateZ(-.125px) translateX(10px) translateY(100%) scale(1.1);
        }
      }
      &:nth-child(2) {
        right: 40px;
        left: auto;
        transform: translateZ(-.17px) scale(1.2);

        @include breakpoint(big-screen) {
          top: 0;
        }
      }
      &:nth-child(3) {
        left: 10%;
        top: 40%;
        transform: translateZ(0) scale(1);
      }
    }
  }
  .sign-off {
    background-image:url('../img/projects/virb/activity-snow-footer.jpg');
    min-height: 100vh;
    padding-bottom: 60%;
    background-position:bottom;
    background-size: 100%;
    background-repeat:no-repeat;

  }
}
.virb {
  section.work {
    padding-bottom:0;
    overflow:hidden;
  }
}
// Listings page styles

.device-wraps {
  margin-top: 80px;
}
