.button, a.button {
  display: inline-block;
  padding: 0.5em 1em;
  transition: background 200ms;
  text-decoration: none;
  color: $half-white;
  border: 0.04em solid $half-white;
  border-radius: 0.4em;
  background: transparent;
  &:hover {
    color: $dark-light-grey;
    background: $half-white;
  }
  &.back {
    text-indent: -9999px;
    &:after {
      content: '<';
      position: absolute;
      font-size: 1.23em;
      text-indent: 0;
    }
  }
}

.btn, a.btn {
    display: inline-block;
    padding: 1em;
    transition: all 100ms ease-in-out, color 100ms;
    text-decoration: none;
    color: rgba(white,.6);
     border-bottom: 1px solid rgba(white, 0.1);
     background-color: rgba(white, 0.1);

    // Extra padding for chunky thumbs on mobile

    .white & {
      color: white;
    }
    &.current {
      padding-left: 0.5em;
    }
    &:hover {
      // padding-right: 1.5em;
      // padding-left: 1.5em;
      color:white;
     border-bottom: 1px solid rgba(white, 0.5);
    }
  }

  %close-x {
  &:after {
    content:"x";
    display:inline-block;
    float:right;
    padding:.1em .4em;
    margin-right:.4em;

    color:white;
    font-size:13px;
    background-color:rgba(100, 100, 100, 0.2);
  }
}

%arrow-right {
  background-image: url("../img/arrow-icon.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}
%arrow-left {
  @extend %arrow-right;
  transform: rotate(180deg);
  background-position: bottom;
}
.btn-prev, .btn-next {
  position:relative;
  text-indent: -9999px;
  display:inline-block;
  width: 20px;
  height:25px;
  @extend %arrow-right;

}
.btn-next {
  @extend %arrow-left;
}
.btn-scroll {
  @extend %arrow-left;
  transform: rotate(90deg);
}

.scrollUp {
  position:fixed;
  bottom:15px;
  right:15px;
  background-image: url("../img/arrow-icon-up.svg");
  background-size: 40%;
  width: 50px;
   background-position:center center;
  height: 50px;
  background-repeat:no-repeat;
  text-indent:-9999px;
  display:block;
  z-index: 10;
  border-radius: 50%;
  background-color:rgba(white,.2);
}

.controls {
  text-align: center;
  ul, li {
    margin: 0;
    padding: 10px;
    list-style: none;
  }
  a {
    display: inline-block;
    font-size: 0.75em;
    transition: 100ms all ease-in-out;
    transform: scale(1);
    text-decoration: none;
    color: $lighter-grey;
    &:hover {
      transform: scale(1.1);
    }
  }
  .all a{
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    border: 2px solid rgba(black, 0.2);
    border-radius: 50%;
    background-image: url("../img/menu-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .next a, .prev a, .scroll-toggle {
    padding-top: 25px;
    text-align: center;
    position:relative;
    outline:none;
    &:active, &:hover {
      outline:none;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @extend %arrow-right;
      background-size: 20px 20px;
    }
  }

  .scroll-toggle {
     width: 60px;
    height: 60px;
    &:hover {
      color: inherit;
    }
    border: 2px solid rgba(black, 0.2);
    border-radius: 50%;
    padding-top: 13px;

    &:before {
     background-position:center 27px;
   }
   &.clicked:before {
     transform:rotate(180deg);
     background-position: center 10px;
   }

  }
  .scroll-toggle:before {
    background-image: url("../img/arrow-icon-down.svg");
  }
  .next a {
    &:before {
        transform: rotate(180deg);
        background-position: bottom;
    }
  }
}