// Colors
$black: rgb(20,20,20);
$red: #c96763;
$green: #b5bb48;
$purple: #9d8abf;
$blue: #83a1c1;
$yellow: #eec765;
$grey: #b9c8c6;
$dark-light-grey: #282828;
$light-grey: #979797;
$lighter-grey: #d4d4d4;

// Main Orange
$orange: #F08656;
$darker-grey: #222;
$dark-grey:rgba(136, 136, 136, 0.5);
$dark-grey-hex: rgb(40,40,40);
$off-white:#aaa;
$half-white:rgba(255,255,255,.55);
$black: rgb(10,10,10);

// Project Specific
$virb: rgba(32,119,216,.95);
$modco: $grey;
$jb: #ea592c;
$modco-grey: #acafb5;
$modco-grey-d: #5a5d63;
