// Breakpoints
@mixin breakpoint($point) {
  @if $point == huge-screen {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == min-huge-screen {
    @media (max-width: 1100px) { @content; }
  }
  @else if $point == big-screen {
    @media (max-width: 950px) { @content; }
  }
  @else if $point == min-big-screen {
    @media (min-width: 950px) { @content; }
  }
  @else if $point == normal-screen {
    @media (max-width: 750px) { @content; }
  }
  @else if $point == min-normal-screen {
    @media (min-width: 800px) { @content; }
  }
  @if $point == tablet {
    @media (max-width: 650px) { @content; }
  }
    @else if $point == min-tablet {
    @media (min-width: 650px) { @content; }
  }
  @else if $point == not-mobile {
    @media (min-width: 450px)  { @content; }
  }
  @else if $point == phone {
    @media (max-width: 450px)  { @content; }
  }
  @else if $point == baby-phone {
    @media (max-width: 370px)  { @content; }
  }
}

//Reusables
%clearfix {
     &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Styling objects
%circle-image {
    display:block;
    margin:0 auto;
    width:auto;
    margin-bottom:.5em;
    border-radius:50%;
    z-index:1;
    overflow:hidden;
    line-height:0;
}
%circle-image-outline {
    @extend %circle-image;
    max-width:100px;
    display:inline-block;
    border: 2px solid white;
    box-shadow:2px 3px 3px rgba(0,0,0,0.4);
    img {
      max-width:100%;
      height:auto;
      border-radius:50%;
    }
}
%close-x {
  &:after {
    content:"x";
    display:inline-block;
    float:right;
    padding:.1em .4em;
    margin-right:.4em;

    color:white;
    font-size:13px;
    background-color:rgba(100, 100, 100, 0.2);
  }
}

%curtain-img {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display:block;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    opacity: 0.1;
    background-size: cover;

    background-repeat: no-repeat;
  }
}
//Animations
@keyframes bouncey-bounce {
  0% {
    left: 10px;
  }
  30% {
    left: 15px;
  }
   50% {
    left: 10px;
  }
   70% {
    left: -2px;
  }
  100% {
    left: 10px;
  }
}
