.button, a.button {
  display: inline-block;
  padding: 0.5em 1em;
  transition: background 200ms;
  text-decoration: none;
  color: $half-white;
  border: 0.04em solid $half-white;
  border-radius: 0.4em;
  background: transparent;
  &:hover {
    color: $dark-light-grey;
    background: $half-white;
  }
  &.back {
    text-indent: -9999px;
    &:after {
      content: '<';
      position: absolute;
      font-size: 1.23em;
      text-indent: 0;
    }
  }
}

.btn, a.btn {
    display: inline-block;
    padding: 1em;
    transition: all 100ms ease-in-out, color 100ms;
    text-decoration: none;
    color: rgba(white,.6);
     border-bottom: 1px solid rgba(white, 0.1);
     background-color: rgba(white, 0.1);

    // Extra padding for chunky thumbs on mobile

    .white & {
      color: white;
    }
    &.current {
      padding-left: 0.5em;
    }
    &:hover {
      // padding-right: 1.5em;
      // padding-left: 1.5em;
      color:white;
     border-bottom: 1px solid rgba(white, 0.5);
    }
  }

  %close-x {
  &:after {
    content:"x";
    display:inline-block;
    float:right;
    padding:.1em .4em;
    margin-right:.4em;

    color:white;
    font-size:13px;
    background-color:rgba(100, 100, 100, 0.2);
  }
}
