---
layout: parallax
title: Modco Pipeline Closures
client: Modco
navColor: dark
nav: left-align
navOrientation: top-nav
handle: modco
type: project
waypoints: true
maincolor: ffffff
secondaryColor: 2077D8
---
<link href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,700" rel="stylesheet" type="text/css">
<div class="project modco" style="background-color: #{{ page.maincolor }}">
{% assign sorted_pages = (site.parts | sort: 'order') %}
{% for page in sorted_pages %}
  {% if page.parent == 'modco' %}
    {% include section.html %}
  {% endif %}
{% endfor %}
</div>