// Animations
@keyframes bounceInLeft {
  0% {
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}


.bounceInLeft {
  animation-name: bounceInLeft;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@keyframes bouncey-bounce {
  0% {
    left: 10px;
  }
  30% {
    left: 15px;
  }
   50% {
    left: 10px;
  }
   70% {
    left: -2px;
  }
  100% {
    left: 10px;
  }
}