---
layout: default
nav: left-align
color-theme: light
title: article
---
<section class="cover-image" {% if page.photo %}style="background-image:url('../img-content/{{ page.photo }}');"{% endif %}></section>
{% include article-sidebar.html %}
<article class="post {{ page.handle }}">
  <h1 class="title">{{ page.header }}</h1>
  <h2 class="subtitle">{{ page.date | date: "%B %e, %Y" }} | {{ page.subtitle }}</h2>

  <div class="entry">
    {{ content }}
  </div>

<!--   <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
 -->
  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>