/*! 

** You're a boss for checking out the source - you seriously deserve a few min with this guy: (http://www.youtube.com/watch?v=OZBWfyYtYQY) 
I really did write all this in vanilla css (used a few nested styles, and some color/breakpoint variables/mixins with Sass). 
I hate life when I have to deal with databases, and it would have taken me longer to use some trendy tech to make this thing happen.

It's minified, preprocessed and compressed via sass/grunt to see the hand written stuff, hit up the root dir/sass/ or just hit up github
It's also not the prettiest thing, after all I'm the only one who has to deal with it.

*/
body, .project-container {
  zoom: 1; }
  body:before, .project-container:before, body:after, .project-container:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  body:after, .project-container:after {
    clear: both; }

.image-wrap {
  display: block;
  margin: 0 auto;
  width: auto;
  margin-bottom: 0.5em;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
  line-height: 0; }

.image-wrap {
  max-width: 100px;
  display: inline-block;
  border: 2px solid white;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4); }
  .image-wrap img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; }

.hans-clicked #hans-toggle:after {
  content: "x";
  display: inline-block;
  float: right;
  padding: 0.1em 0.4em;
  margin-right: 0.4em;
  color: white;
  font-size: 13px;
  background-color: rgba(100, 100, 100, 0.2); }

@-webkit-keyframes bouncey-bounce {
  0% {
    left: 10px; }

  30% {
    left: 15px; }

  50% {
    left: 10px; }

  70% {
    left: -2px; }

  100% {
    left: 10px; } }

@keyframes bouncey-bounce {
  0% {
    left: 10px; }

  30% {
    left: 15px; }

  50% {
    left: 10px; }

  70% {
    left: -2px; }

  100% {
    left: 10px; } }

@font-face {
  font-family: 'hans-font';
  src: url('../fonts/hans-font.eot?soqwyy');
  src: url('../fonts/hans-font.eot?#iefixsoqwyy') format('embedded-opentype'), url('../fonts/hans-font.woff?soqwyy') format('woff'), url('../fonts/hans-font.ttf?soqwyy') format('truetype'), url('../fonts/hans-font.svg?soqwyy#hans-font') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'hans-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-list:before {
  content: "\e600"; }

.icon-undo:before {
  content: "\e601"; }

.icon-console:before {
  content: "\e602"; }

.icon-github:before {
  content: "\e603"; }

.icon-apple:before {
  content: "\e604"; }

.icon-wordpress:before {
  content: "\e605"; }

.icon-dribbble:before {
  content: "\e606"; }

.icon-twitter:before {
  content: "\e607"; }

.icon-file-xml:before {
  content: "\e608"; }

.icon-code:before {
  content: "\e609"; }

.icon-css3:before {
  content: "\e60a"; }

.icon-pacman:before {
  content: "\e60b"; }

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px); }

  80% {
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px); }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px); }

  80% {
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px); }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/*
____________________________________________________________________
    
    BASE STYLINGS 
        - foundational stylings
        - modular elements
____________________________________________________________________
*/
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  position: relative;
  font-family: 'Lekton', sans-serif;
  font-size: 18px;
  background-color: #222;
  color: #aaa; }
  @media (max-width: 650px) {
    html {
      border-top: 6px solid black; } }

body {
  height: 100%; }

h1, h2 {
  font-weight: 200;
  margin: 0.4em 0; }

h1 {
  font-size: 1em; }

h2 {
  color: rgba(136, 136, 136, 0.5);
  font-size: 0.75em; }

.image-wrap {
  background: #b9c8c6;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s; }
  .index .image-wrap {
    opacity: 0; }
  .index.loaded .image-wrap {
    opacity: 1; }

.button, a.button {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 0.4em;
  text-decoration: none;
  border: 0.04em solid rgba(255, 255, 255, 0.55);
  background: transparent;
  color: rgba(255, 255, 255, 0.55);
  -webkit-transition: background 200ms;
  transition: background 200ms; }
  .button:hover, a.button:hover {
    background: rgba(255, 255, 255, 0.55);
    color: #282828; }
  .button.back, a.button.back {
    text-indent: -9999px; }
    .button.back:after, a.button.back:after {
      content: "<";
      position: absolute;
      text-indent: 0px;
      font-size: 1.23em; }

.strikethrough {
  text-decoration: line-through; }

/*
____________________________________________________________________
    
    MAIN PAGE STYLINGS
        - Navigation
        - Hans-Clicked states
        - Footer
____________________________________________________________________
*/
nav {
  max-height: 200px;
  margin: 0 auto;
  margin-top: 120px;
  max-width: 100px;
  z-index: 3; }
  @media (max-width: 450px) {
    nav {
      margin-top: 10%; } }
  .work nav {
    float: left;
    margin: 1.75em 0 0 2em; }

.internal-nav-wrap {
  height: 121px;
  margin-top: 0px;
  overflow: hidden;
  -webkit-transition: margin-top 200ms, height 200ms;
  transition: margin-top 200ms, height 200ms; }
  .internal-nav-wrap.social-clicked {
    height: 141px; }
  .hans-clicked .internal-nav-wrap {
    margin-top: 70px;
    height: 141px; }
  @media (max-width: 750px) {
    .hans-clicked .internal-nav-wrap {
      margin-top: 70px; }
    .hans-clicked.index .internal-nav-wrap {
      margin-top: 150px; } }
  @media (max-width: 650px) {
    .hans-clicked .internal-nav-wrap {
      margin-top: 100px; } }
  @media (max-width: 450px) {
    .hans-clicked .internal-nav-wrap {
      margin-top: 210px; }
    .hans-clicked.index .internal-nav-wrap {
      margin-top: 215px; } }
  @media (max-width: 370px) {
    .hans-clicked.index .internal-nav-wrap {
      margin-top: 315px;
      margin-bottom: 30px;
      display: block; } }

.menu {
  padding: 0;
  margin: 0;
  margin-top: -10px;
  opacity: 0;
  -webkit-transition: opacity 20ms 0.6s, margin-top 200ms;
  transition: opacity 20ms 0.6s, margin-top 200ms; }
  .social-clicked .menu.unfolded {
    margin-top: -62px; }
    @media (max-width: 450px) {
      .social-clicked .menu.unfolded {
        margin-top: -77px; } }
  .menu.unfolded {
    opacity: 1;
    margin-top: 0; }
    .menu.unfolded li {
      margin-top: 0; }

.menu li {
  display: block;
  margin-top: -31%;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: margin-top 200ms 0.6s;
  transition: margin-top 200ms 0.6s; }
  .menu li:hover {
    background-color: rgba(100, 100, 100, 0.1);
    -webkit-transition-delay: 0;
    transition-delay: 0; }
  .menu li:nth-child(2) {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s; }
  .menu li:nth-child(3) {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s; }
    .menu li:nth-child(3) a:hover, .social-clicked .menu li:nth-child(3) a {
      padding-left: 0.5em; }
    .social-clicked .menu li:nth-child(3) a {
      color: #F08656; }
  .menu li a {
    display: block;
    padding-left: 0;
    padding-right: 0.5em;
    padding: 0.3em;
    text-decoration: none;
    color: #aaa;
    -webkit-transition: all 100ms ease-in-out, color 100ms;
    transition: all 100ms ease-in-out, color 100ms; }
    @media (max-width: 450px) {
      .menu li a {
        padding-top: 0.5em;
        padding-bottom: 0.5em; } }
    .menu li a:hover {
      padding-left: 0.5em;
      padding-right: 0; }

.social {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 150px 0 0 0;
  background: #333;
  background: rgba(0, 0, 0, 0.2);
  border-top: 1px solid #242321;
  border-bottom: 1px solid #4e4e4e;
  -webkit-transition: margin 0 0.2s;
  transition: margin 0 0.2s; }
  .social-clicked .social {
    margin: 0px 0 0 0;
    -webkit-transition-delay: 0;
    transition-delay: 0; }
  .social li {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: hidden; }
  .social a {
    max-width: 31px;
    text-decoration: none;
    display: block;
    color: white;
    position: relative;
    padding: 0.4em;
    font-size: 15px;
    -webkit-transition: padding-left 0.2s;
    transition: padding-left 0.2s; }
    .social a:hover {
      padding-left: 100%; }

.social a:before {
  content: attr(data);
  color: white;
  position: absolute;
  display: block;
  left: -75px;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  color: #b9c8c6; }

.social a:hover:before {
  left: 5px; }

@media (max-width: 650px) {
  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 10;
    opacity: 0;
    background-color: rgba(34, 34, 34, 0.93);
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s; }
    .menu-clicked .overlay {
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
  .menu-clicked.work nav {
    margin-top: 100px; } }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.7em 0.2em;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: margin-bottom 0.5s 1s, opacity 400ms;
  transition: margin-bottom 0.5s 1s, opacity 400ms;
  opacity: 1;
  overflow: hidden; }
  .work footer {
    position: relative; }
  @media (max-width: 370px) {
    .hans-clicked.index footer {
      opacity: 0; } }
  footer.loaded {
    margin-bottom: 0; }
  footer a {
    color: rgba(136, 136, 136, 0.5);
    font-style: italic;
    text-decoration: none; }
    footer a:hover {
      text-decoration: underline; }

.hans-content {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: opacity 600ms, visibility 600ms 1s;
  transition: opacity 600ms, visibility 600ms 1s; }
  .hans-content p {
    color: rgba(136, 136, 136, 0.5);
    font-size: 0.75em; }
    @media (max-width: 450px) {
      .hans-content p {
        color: rgba(136, 136, 136, 0.7);
        line-height: 1.35em;
        font-size: 0.8em; } }
  .hans-content .bio {
    margin: 0 auto;
    margin-top: 0px;
    width: 80%;
    max-width: 600px;
    min-width: 240px;
    -webkit-transition: margin-top 400ms;
    transition: margin-top 400ms; }
    .work .hans-content .bio {
      position: absolute;
      top: 0px;
      left: 26px;
      margin-top: 0;
      -webkit-transition: top 400ms;
      transition: top 400ms; }
    .hans-content .bio a {
      color: rgba(136, 136, 136, 0.5);
      font-style: italic; }
  .hans-content:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0.059;
    background-image: url('../img/me.jpg');
    background-size: cover;
    background-position: center center; }

.hans-clicked .menu {
  margin-top: 109px; }
.hans-clicked .container {
  margin-left: 100%; }
.hans-clicked .hans-content {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 600ms;
  transition: opacity 600ms; }
  .hans-clicked .hans-content .bio {
    margin-top: -108px;
    -webkit-transition: margin-top 400ms;
    transition: margin-top 400ms; }
.hans-clicked #hans-toggle {
  color: #F08656;
  padding-left: 0.5em;
  padding-right: 0;
  background-color: rgba(100, 100, 100, 0.1); }

/*
____________________________________________________________________
    
    WORK PAGE STYLINGS
____________________________________________________________________
*/
.work.hans-clicked .hans-content .bio {
  top: 8em;
  margin-top: 0;
  -webkit-transition: top 400ms;
  transition: top 400ms; }
  @media (max-width: 650px) {
    .work.hans-clicked .hans-content .bio {
      top: 206px; } }

.project-body {
  font-family: 'Merriweather', serif;
  color: rgba(136, 136, 136, 0.5);
  font-size: 0.75em;
  text-align: center;
  max-width: 1256px; }
  @media (min-width: 800px) {
    .project-body {
      font-size: 1.25em; } }
  .project-body h2 {
    font-size: 3em;
    color: white; }
  .project-body header {
    margin: 57px 0; }
    .project-body header p {
      max-width: 650px;
      margin: 0 auto;
      line-height: 1.4;
      text-align: left;
      width: 90%; }
      @media (min-width: 800px) {
        .project-body header p {
          font-size: 0.65em; } }
  .project-body a {
    text-decoration: none;
    color: rgba(240, 134, 86, 0.4); }
    .project-body a:hover {
      color: #F08656; }

.project-container {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden; }
  .project-container.project-active {
    min-height: 1400px; }
  .project-container li {
    display: block;
    width: 48%;
    min-height: 200px;
    margin-bottom: 20px;
    margin-right: 2%;
    overflow: hidden;
    float: left;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    background-color: #282828;
    cursor: pointer; }
    @media (max-width: 650px) {
      .project-container li {
        width: 100%; } }
    .project-container li:nth-child(even) {
      margin-right: 0; }
    .project-container li.active {
      cursor: auto;
      position: initial; }
  .project-container h4 {
    margin: 0;
    text-align: right;
    font-size: 1.7em;
    color: rgba(255, 255, 255, 0.55);
    font-weight: normal; }
    @media (min-width: 800px) {
      .project-container h4 {
        font-size: 1em; } }
  .project-container .project-wrap {
    padding: 25px;
    padding-top: 16px; }
    @media (min-width: 450px) {
      .project-container .project-wrap {
        -webkit-transition: 0.3s all;
        transition: 0.3s all; } }
    @media (min-width: 800px) {
      .project-container .project-wrap {
        padding-left: 70px; } }
  .project-container .description {
    display: block;
    width: 90%;
    height: 0px;
    max-height: 126px;
    margin: 1em 0;
    float: right;
    overflow: hidden;
    font-size: 10px;
    text-align: right;
    line-height: 1.4;
    color: #aaa;
    border-top: 1px solid rgba(100, 100, 100, 0.2);
    border-bottom: 1px solid rgba(100, 100, 100, 0.2);
    -webkit-transition: all 200ms;
    transition: all 200ms; }
    @media (min-width: 800px) {
      .project-container .description {
        font-size: 0.5em; } }
    @media (min-width: 950px) {
      .project-container .description {
        font-size: 0.6em; } }
  .project-container .button {
    width: 25px;
    height: 25px;
    padding: 0;
    padding-top: 3px;
    position: absolute;
    bottom: -30px;
    left: 20px;
    font-size: 20px;
    border-width: 2.5px;
    border-radius: 50%;
    line-height: 1;
    -webkit-transition: bottom 200ms;
    transition: bottom 200ms; }
    .project-container .button.back {
      display: none;
      border-color: rgba(240, 134, 86, 0.3);
      top: 25px;
      position: relative;
      position: absolute;
      bottom: auto;
      text-indent: -9999px;
      width: 2em;
      height: 2em;
      z-index: 4; }
      .project-container .button.back:hover {
        background-color: inherit; }
        .project-container .button.back:hover:after {
          -webkit-animation: bouncey-bounce 400ms linear;
          animation: bouncey-bounce 400ms linear; }
      .project-container .button.back:active {
        background: rgba(240, 134, 86, 0.3);
        color: #282828; }
      .project-container .button.back:after {
        top: 0.3em;
        left: 0.35em; }
  .project-container .active .button.back {
    display: block; }
  .project-container .active .button.more {
    display: none; }
  .project-container .active .description {
    max-width: 250px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    height: auto;
    padding: 1.5em 0;
    font-size: 1em; }
    @media (min-width: 800px) {
      .project-container .active .description {
        font-size: 0.6em; } }
    @media (max-width: 1100px) {
      .project-container .active .description {
        max-width: 200px; } }
  @media (min-width: 800px) {
    .project-container .active h4 {
      font-size: 1.5em; } }
  @media (max-width: 650px) {
    .project-container .active h4 {
      text-align: center; } }
  @media (max-width: 950px) {
    .project-container .active .description {
      max-width: 100%;
      width: 100%;
      text-align: center;
      padding: 0 1em; } }
  @media (max-width: 650px) {
    .project-container .active .description {
      max-width: 100%;
      width: 100%;
      text-align: center;
      padding: 0 1em; } }
  .project-container .active .project-wrap {
    position: absolute;
    width: 98%;
    padding-top: 30px;
    height: 100%;
    border-radius: 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #282828;
    -webkit-transition: 0.3s all;
    transition: 0.3s all; }
    @media (max-width: 650px) {
      .project-container .active .project-wrap {
        width: 100%;
        padding-top: 3em; } }

@media (min-width: 450px) {
  .project-container li:hover .button {
    bottom: 20px; }
  .project-container li.active:hover .button {
    bottom: 0px; }
  .project-container li:hover .description {
    padding: 1.5em 0;
    height: auto; } }

.project-container .active .description {
  padding: 1.5em 0;
  max-height: none;
  height: auto; }

.preview-image {
  width: 100%;
  display: inline-block;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  max-width: 600px;
  border-radius: 4px; }
  @media (max-width: 450px) {
    .preview-image {
      opacity: 0.44; } }
  @media (min-width: 450px) {
    .preview-image {
      -webkit-transition: height 120ms ease-in-out, opacity 100ms, background-position 120ms;
      transition: height 120ms ease-in-out, opacity 100ms, background-position 120ms; }
      li:hover .preview-image {
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0.07; } }
  .active .preview-image {
    opacity: 1;
    position: relative;
    background-position: center;
    -webkit-transition: none;
    transition: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }
  li.active:hover .preview-image {
    -webkit-filter: none;
    filter: none;
    opacity: inherit; }
  .posters .preview-image {
    background-image: url('../img/Portfolio/Posters/10.jpg'); }
  .lucilles .preview-image {
    background-image: url('../img/Portfolio/Lucilles/lucilles-thumb.jpg'); }
  .ihi .preview-image {
    background-image: url('../img/Portfolio/IHI/ihi-thumb.jpg'); }
  .steelehouse .preview-image {
    background-image: url('../img/Portfolio/Steelehouse/steelehouse-thumb.jpg'); }
  .sevilla .preview-image {
    background-image: url('../img/Portfolio/Sevilla/sevilla-thumb.jpg'); }
  .sports .preview-image {
    background-image: url('../img/Portfolio/Sports/sports-thumb.jpg'); }
  .ihi .preview-image {
    background-image: url('../img/Portfolio/IHI/ihi-thumb.jpg'); }
  .kokovoko .preview-image {
    background-image: url('../img/Portfolio/Kokovoko/kokovoko-thumb2.jpg'); }
  .better-cheddar .preview-image {
    background-image: url('../img/Portfolio/BetterCheddar/bc-thumb.jpg'); }

.preview-image-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 144px;
  overflow: hidden;
  -webkit-transition: height 120ms;
  transition: height 120ms; }
  .active .preview-image-wrap {
    height: auto;
    position: relative;
    max-width: 66%;
    -webkit-transition: none;
    transition: none; }
    @media (max-width: 950px) {
      .active .preview-image-wrap {
        margin-top: 2em;
        max-width: 100%; } }
  @media (min-width: 450px) {
    li:hover .preview-image-wrap {
      height: 100%; } }
  li.active:hover .preview-image-wrap {
    height: auto; }

@media (max-width: 650px) {
  .work nav {
    float: none;
    margin: 0 auto;
    -webkit-transition: margin-top 300ms;
    transition: margin-top 300ms;
    margin-top: -100%; } }
.work nav .menu li:nth-child(2) a {
  color: #F08656;
  padding-left: 0.5em; }

.content {
  display: none; }
  .active .content {
    display: block;
    width: 66%; }
    @media (max-width: 950px) {
      .active .content {
        padding: 20px 0;
        width: 100%; } }
  .content img {
    width: 100%;
    box-shadow: 1px 1px 2px black;
    max-width: 600px;
    border-radius: 3px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }

.close-toggle {
  display: inline-block;
  top: 0.33em;
  right: 0.5em;
  font-size: 3em;
  font-weight: normal;
  position: fixed;
  cursor: pointer;
  -webkit-transform: rotate(195deg);
  -ms-transform: rotate(195deg);
  transform: rotate(195deg);
  visibility: hidden;
  color: white;
  -webkit-transition: all 700ms ease-in-out, visibility 0s 0.7s;
  transition: all 700ms ease-in-out, visibility 0s 0.7s;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  text-decoration: none; }
  .menu-clicked .close-toggle {
    visibility: visible;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 700ms, visibility 0s 0s;
    transition: all 700ms, visibility 0s 0s; }

.work.hans-clicked .menu li:nth-child(2) a, nav .social-clicked .menu li:nth-child(2) a {
  color: #aaa; }

.menu-toggle-container {
  display: none;
  color: #c6c6c6;
  cursor: pointer;
  height: 1.25em;
  width: 1.55em;
  font-size: 1.5em;
  background: rgba(255, 255, 255, 0.0588235) none repeat scroll 0% 0%/auto padding-box border-box;
  border: 1px solid rgba(0, 0, 0, 0.49);
  border-radius: 0 0 5px 5px;
  outline: #c6c6c6 none 0px;
  padding: 4px 8px 21px 7px;
  top: 0;
  position: absolute;
  right: 30px; }
  .menu-toggle-container:hover .menu-toggle-wrap {
    color: white; }
  @media (max-width: 650px) {
    .menu-toggle-container {
      display: inline-block; } }

.tags {
  display: none;
  max-width: 250px;
  margin: 0;
  width: 100%;
  padding: 0;
  float: right;
  clear: right;
  text-transform: uppercase;
  font-family: 'Lekton', sans-serif;
  font-size: 0.7em; }
  @media (max-width: 750px) {
    .tags {
      font-size: 1em; } }
  @media (max-width: 950px) {
    .tags {
      max-width: 100%; } }
  .active .tags {
    display: block; }
  .tags li {
    width: auto;
    cursor: auto;
    min-height: 0;
    margin: 0 0 10px 10px;
    padding: 4px 9px;
    border-radius: 2px 2px 0 0;
    float: right;
    background-color: rgba(136, 136, 136, 0.15); }

.menu-toggle-wrap {
  color: rgba(0, 0, 0, 0.8);
  display: block;
  height: 23px;
  position: relative;
  text-decoration: none solid rgba(0, 0, 0, 0.8);
  text-shadow: rgba(255, 255, 255, 0.0784314) 0px 1px 0px;
  width: 16.1875px;
  border: 0px none rgba(0, 0, 0, 0.8);
  outline: rgba(0, 0, 0, 0.8) none 0px; }

.container {
  padding-right: 10px;
  padding-left: 2.5em;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  width: 100%;
  -webkit-transition: all 200ms;
  transition: all 200ms; }
  @media (max-width: 650px) {
    .container {
      padding-left: 10px; } }

.container-wrap {
  overflow: hidden; }
  @media (max-width: 650px) {
    .container-wrap {
      width: 100%; } }
