---
layout: parallax
title: VIRB Action Camera
client: Garmin
nav: left-align
navOrientation: top-nav
navColor: white
photo: virb/virb-x-home.png
handle: virb
type: project
maincolor: 2077D8
secondaryColor: f3df32
waypoints: true
plax: true
---
<div class="project virb" style="background-color: #{{ page.maincolor }}">
{% include nav.html %}
{% assign sorted_pages = (site.parts | sort: 'order') %}
{% for page in sorted_pages %}
  {% if page.parent == 'virb' %}
    {% include section.html %}
  {% endif %}
{% endfor %}


      <section class="sign-off">
        <div class="container">
          <div class="col-xs-12">
            <h1>Changes, redesigns</h1>
            <p>Since writing this post, I've had a few opportunities and releases of VIRB to redesign several aspects of the site. For better and for worse, it's part of the beauty of the web. Things get sloppy. Deadlines. Committees of design review. Basterdized code. Revisions upon revisions. There have been several aspects of VIRB that have been redesigned, including (most notably) the overall style/branding.</p>
          </div>
        </div>
      </section>

      {% include footer.html %}
    </div>