---
layout: parallax
title: VIRB Action Camera
client: Garmin
nav: left-align
navOrientation: top-nav
navColor: white
photo: virb/virb-x-home.png
handle: virb
type: project
maincolor: 2077D8
secondaryColor: f3df32
waypoints: true
plax: true
---
<div class="project virb" style="background-color: #{{ page.maincolor }}">
{% include nav.html %}
{% assign sorted_pages = (site.parts | sort: 'order') %}
{% for page in sorted_pages %}
  {% if page.parent == 'virb' %}
    {% include section.html %}
  {% endif %}
{% endfor %}


    <section>
      <div class="container">
        <div class="col-xs-12">
          <h4 class="pre-title">Development</h4>
          <h1>Responsive Second</h1>
          <p>We set out to design the site not just with mobile in mind, but mobile first - Meaning every decision made from the amount of CSS styles we loaded, to the sizes of images were minimalist by default. Things don't always work out as </p>
          <div class="device-wraps col-xs-6">
            <div class="col-xs-12 col-sm-6">
              <div class="iphone-frame">
                <div class="iphone-screen-container">
                  <span class="iphone-screen"></span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 macbook-frame-wrap">
              <div class="macbook-frame">
                <div class="macbook-screen-container">
                  <span class="macbook-screen"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="blue blue2">
        <div class="container">
          <div class="col-xs-12">
            <h1>Credits &amp; deets</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h4>The Work</h4>
              <p>102 PSD mockups, 94 Sass files, 130 retouched photos, 60GB of design files, thousands of lines of code, countless revisions, over 3,000,000 views and counting.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>The People</h4>
              <p>Credits to those people that were significantly involved in VIRB, and held a particularily intricate roll to it's success: Dustin Hayes (Front-end architecture, back-end developement), Aaron Gurley (project management) & Jamie Swearington (UX & IA)</p>
            </div>
          </div>
        </div>
      </section>
      <section class="sign-off">
        <div class="container">
          <div class="col-xs-12">
            <h1>A Note About Real Life</h1>
            <p>Things get sloppy. Deadlines. Committees of design review. Basterdized code. Revisions upon revisions. There have been several aspects of VIRB that have been redesigned, including (most notably) the overall style/branding.</p>
          </div>
        </div>
      </section>

      {% include footer.html %}
    </div>